---
import PageIntro from "@/components/page-intro.astro";
import { BreadcrumbWrapper } from "@/components/react/breadcrumb-wrapper";
import Layout from "@/layout/Layout.astro";
import hero from "@/assets/images/pages/parties/creations/hero.jpg";
import GlitterSlime from "@/components/creations/glitter-slime.astro";
import FluffySlimePink from "@/components/creations/fluffy-slime-pink.astro";
import GlitterFacePaint from "@/components/creations/glitter-face-paint.astro";
import RainbowBathBombs from "@/components/creations/rainbow-bath-bombs.astro";
import RainbowBathSalts from "@/components/creations/rainbow-bath-salts.astro";
import SparklingLipBalm from "@/components/creations/sparkling-lip-balm.astro";
import SugarLipScrub from "@/components/creations/sugar-lip-scrub.astro";
import UnicornSoap from "@/components/creations/unicorn-soap.astro";
import FizzyBathBombsBlue from "@/components/creations/fizzy-bath-bombs-blue.astro";
import CreationsSummary from "@/components/creations-summary.astro";
import BubblingVolcanoes from "@/components/creations/bubbling-volcanoes.astro";
import BugsInBathBombs from "@/components/creations/bugs-in-bath-bombs.astro";
import FizzyBathBombsGreen from "@/components/creations/fizzy-bath-bombs-green.astro";
import FluffySlimeGreen from "@/components/creations/fluffy-slime-green.astro";
import InstantSnowSlime from "@/components/creations/instant-snow-slime.astro";
import MonsterSlimePurple from "@/components/creations/monster-slime-purple.astro";
import SandSlime from "@/components/creations/sand-slime.astro";
import WobblyGalaxySoap from "@/components/creations/wobbly-galaxy-soap.astro";
import WobblyStarSoap from "@/components/creations/wobbly-star-soap.astro";
import FrozenSparkleSlime from "@/components/creations/frozen-sparkle-slime.astro";
import GalaxySlime from "@/components/creations/galaxy-slime.astro";
import RainbowSlime from "@/components/creations/rainbow-slime.astro";
import UnicornSlime from "@/components/creations/unicorn-slime.astro";
import AnimalSoap from "@/components/creations/animal-soap.astro";
import AnimalsInSoap from "@/components/creations/animals-in-soap.astro";
import MonsterSlimeGreen from "@/components/creations/monster-slime-green.astro";
import ButterflySoap from "@/components/creations/butterfly-soap.astro";
import UnicornBathBombs from "@/components/creations/unicorn-bath-bombs.astro";
import UnicornBathCrystals from "@/components/creations/unicorn-bath-crystals.astro";
import UnicornGlitterShimmer from "@/components/creations/unicorn-glitter-shimmer.astro";
import ByoTieDyeItem from "@/components/creations/tie-dye-scrunchies.astro";
import TieDyePillow from "@/components/creations/tie-dye-pillow.astro";
import TieDyeSoap from "@/components/creations/tie-dye-soap.astro";
import TieDyeSocks from "@/components/creations/tie-dye-socks.astro";
import TieDyeToteBags from "@/components/creations/tie-dye-tote-bags.astro";
import TsBathBombs from "@/components/creations/ts-bath-bombs.astro";
import TsBracelets from "@/components/creations/ts-bracelets.astro";
import TsButterflySoap from "@/components/creations/ts-butterfly-soap.astro";
import TsFacePaint from "@/components/creations/ts-face-paint.astro";
import TsGoldSlime from "@/components/creations/ts-gold-slime.astro";
import TsLipBalm from "@/components/creations/ts-lip-balm.astro";
import TsMidnightsSlime from "@/components/creations/ts-midnights-slime.astro";
import TsRainbowBathBombs from "@/components/creations/ts-rainbow-bath-bombs.astro";
import TsSlime from "@/components/creations/ts-scrunchies.astro";
import DinosaurFossils from "@/components/creations/dinosaur-fossils.astro";
---

<Layout
  title="Creations | Fizz Kidz"
  description="View all our creation options here!"
>
  <main class="m-auto block max-w-[1380px] px-5 pt-8">
    <div class="h-[10px]"></div>
    <BreadcrumbWrapper
      items={[
        { type: "link", title: "Birthday Parties", path: "/birthday-parties" },
        {
          type: "link",
          title: "Creations",
          path: "birthday-parties/creations",
        },
      ]}
    />
    <PageIntro
      image={hero}
      imageAlt="A line of colourful smocks hanging up"
      subtitle="View all our creation options here"
      color="pink"
      actionButtonText="Book a party"
      actionButtonPath="/birthday-parties/book-a-party#book"
    >
      <span slot="title">Fizz Kidz Creations</span>
    </PageIntro>
    <section class="mt-12 md:mt-40">
      <CreationsSummary title="Glitz and Glam Creations" color="#F24DA2">
        <GlitterSlime flippable={false} slot="1" />
        <GlitterFacePaint flippable={false} slot="2" />
        <RainbowBathSalts flippable={false} slot="3" />
        <RainbowBathBombs flippable={false} slot="4" />
        <FizzyBathBombsBlue flippable={false} slot="5" />
        <UnicornSoap flippable={false} slot="6" />
        <SparklingLipBalm flippable={false} slot="7" />
        <FluffySlimePink flippable={false} slot="8" />
        <SugarLipScrub flippable={false} slot="9" />
      </CreationsSummary>
      <CreationsSummary title="Science Creations" color="#43D4F3">
        <BubblingVolcanoes flippable={false} slot="1" />
        <FizzyBathBombsGreen flippable={false} slot="2" />
        <WobblyGalaxySoap flippable={false} slot="3" />
        <BugsInBathBombs flippable={false} slot="4" />
        <InstantSnowSlime flippable={false} slot="5" />
        <DinosaurFossils flippable={false} slot="6" />
        <MonsterSlimePurple flippable={false} slot="7" />
        <FluffySlimeGreen flippable={false} slot="8" />
        <WobblyStarSoap flippable={false} slot="9" />
      </CreationsSummary>
      <CreationsSummary title="Slime Creations" color="#9044E2">
        <GlitterSlime flippable={false} slot="1" />
        <MonsterSlimePurple flippable={false} slot="2" />
        <FluffySlimeGreen flippable={false} slot="3" />
        <RainbowSlime flippable={false} slot="4" />
        <UnicornSlime flippable={false} slot="5" />
        <InstantSnowSlime flippable={false} slot="6" />
        <GalaxySlime flippable={false} slot="7" />
        <FrozenSparkleSlime flippable={false} slot="8" />
        <FluffySlimePink flippable={false} slot="9" />
      </CreationsSummary>
      <CreationsSummary title="Safari Creations" color="#4ED85F">
        <AnimalSoap flippable={false} slot="1" />
        <MonsterSlimePurple flippable={false} slot="2" />
        <SandSlime flippable={false} slot="3" />
        <BugsInBathBombs flippable={false} slot="4" />
        <AnimalsInSoap flippable={false} slot="5" />
        <MonsterSlimeGreen flippable={false} slot="6" />
        <DinosaurFossils flippable={false} slot="7" />
        <FizzyBathBombsGreen flippable={false} slot="8" />
        <BubblingVolcanoes flippable={false} slot="9" />
      </CreationsSummary>
      <CreationsSummary title="Unicorn Creations" color="#F24DA2">
        <UnicornSlime flippable={false} slot="1" />
        <UnicornGlitterShimmer flippable={false} slot="2" />
        <UnicornBathBombs flippable={false} slot="3" />
        <UnicornSoap flippable={false} slot="4" />
        <UnicornBathCrystals flippable={false} slot="5" />
        <ButterflySoap flippable={false} slot="6" />
      </CreationsSummary>
      <CreationsSummary title="Tie Dye Creations" color="#F7BB35">
        <TieDyeSoap flippable={false} slot="1" />
        <TieDyePillow flippable={false} slot="2" />
        <RainbowBathSalts flippable={false} slot="3" />
        <TieDyeToteBags flippable={false} slot="4" />
        <TieDyeSocks flippable={false} slot="5" />
        <ByoTieDyeItem flippable={false} slot="6" />
      </CreationsSummary>
      <CreationsSummary title="Taylor Swift Creations" color="#9044E2">
        <TsBathBombs flippable={false} slot="1" />
        <TsSlime flippable={false} slot="2" />
        <TsButterflySoap flippable={false} slot="3" />
        <TsBracelets flippable={false} slot="4" />
        <TsRainbowBathBombs flippable={false} slot="5" />
        <TsGoldSlime flippable={false} slot="6" />
        <TsMidnightsSlime flippable={false} slot="7" />
        <TsLipBalm flippable={false} slot="8" />
        <TsFacePaint flippable={false} slot="9" />
      </CreationsSummary>
    </section>
  </main>
</Layout>
