---
import PageIntro from "@/components/page-intro.astro";
import Layout from "@/layout/Layout.astro";
import PartyLayout from "@/layout/party-layout.astro";

import fluidBears from "@/assets/images/pages/parties/fluid-bears-party.png";
import Creations from "@/components/party-package-creations.astro";
import fluidBearsPackage from "@/assets/images/pages/parties/packages/fluid-bears-white.png";
import FluidBears1 from "@/components/creations/fluid-bears-1.astro";
import FluidBears2 from "@/components/creations/fluid-bears-2.astro";
import FluidBears3 from "@/components/creations/fluid-bears-3.astro";
import FluidBears4 from "@/components/creations/fluid-bears-4.astro";
import FluidBears5 from "@/components/creations/fluid-bears-5.astro";
import FluidBears6 from "@/components/creations/fluid-bears-6.astro";
---

<Layout
  title="Book a Kids Fluid Bears Birthday Party in Melbourne | Fizz Kidz"
  description="Mesmerizing Drip Art Fun!"
>
  <PartyLayout partyPackage="Fluid Bears">
    <PageIntro
      slot="intro"
      subtitle="Mesmerizing Drip Art Fun!"
      image={fluidBears}
      imageAlt="hands holding colourful body glitter containers"
      actionButtonText="Book a party"
      actionButtonPath="/birthday-parties/book-a-party/#book"
      color="gold"
    >
      <span slot="title">Fluid Bears Kids Birthday Parties</span>
      <span slot="content"
        >Design your very own awesome bear kingring by dripping vibrant paint
        for a one-of-a-kind masterpiece that's yours to take home!</span
      >
    </PageIntro>
    <Creations
      partyPackage="Fluid Bears"
      caption="Drizzle, Drop ad Paint your Bear your way!"
      image={fluidBearsPackage}
      imageAlt="Safari Party Package"
      blackBackground
    >
      <FluidBears1 slot="1" flippable={false} />
      <FluidBears2 slot="2" flippable={false} />
      <FluidBears3 slot="3" flippable={false} />
      <FluidBears4 slot="4" flippable={false} />
      <FluidBears5 slot="5" flippable={false} />
      <FluidBears6 slot="6" flippable={false} />
    </Creations>
  </PartyLayout>
</Layout>
