---
import PageIntro from "@/components/page-intro.astro";
import Layout from "@/layout/Layout.astro";
import PartyLayout from "@/layout/party-layout.astro";

import bodyGlitter from "@/assets/images/pages/parties/body-glitter.jpg";

import glitz from "@/assets/images/pages/parties/packages/glitz-and-glam.png";
import GlitterFacePaint from "@/components/creations/glitter-face-paint.astro";
import RainbowBathSalts from "@/components/creations/rainbow-bath-salts.astro";
import Creations from "@/components/party-package-creations.astro";
import UnicornSoap from "@/components/creations/unicorn-soap.astro";
import RainbowBathBombs from "@/components/creations/rainbow-bath-bombs.astro";
import SparklingLipBalm from "@/components/creations/sparkling-lip-balm.astro";
import FairySlime from "@/components/creations/fairy-slime.astro";
import GlitterSoap from "@/components/creations/glitter-soap.astro";
import UnicornBathCrumble from "@/components/creations/unicorn-bath-crumble.astro";
import GlitterHairGel from "@/components/creations/glitter-hair-gel.astro";
---

<Layout
  title="Book a Kids Birthday Glam Birthday Party in Melbourne | Fizz Kidz"
  description="This pamper party package is made for all things glamorous!"
>
  <PartyLayout partyPackage="Glam">
    <PageIntro
      slot="intro"
      subtitle="Bring the glitter, sparkles and fun to your child's next party!"
      type="image"
      image={bodyGlitter}
      imageAlt="hands holding colourful body glitter containers"
      actionButtonText="Book a party"
      actionButtonPath="/birthday-parties/book-a-party/#book"
      color="pink"
    >
      <span slot="title">Glam Kids Birthday Party</span>
      <span slot="content">
        Make your very own sparkling and dazzling pamper products to take home
        with you after the party!
      </span>
    </PageIntro>
    <Creations partyPackage="Glam" image={glitz} imageAlt="Three girls smiling">
      <FairySlime slot="1" flippable={false} />
      <GlitterFacePaint slot="2" flippable={false} />
      <RainbowBathSalts slot="3" flippable={false} />
      <GlitterSoap slot="4" flippable={false} />
      <SparklingLipBalm slot="5" flippable={false} />
      <UnicornSoap slot="6" flippable={false} />
      <RainbowBathBombs slot="7" flippable={false} />
      <UnicornBathCrumble slot="8" flippable={false} />
      <GlitterHairGel slot="9" flippable={false} />
    </Creations>
  </PartyLayout>
</Layout>
