---
import PageIntro from "@/components/page-intro.astro";
import Layout from "@/layout/Layout.astro";
import PartyLayout from "@/layout/party-layout.astro";

import scienceParty from "@/assets/images/pages/parties/science-party.jpg";
import science from "@/assets/images/pages/parties/packages/science.png";
import Creations from "@/components/party-package-creations.astro";
import BubblingVolcanoes from "@/components/creations/bubbling-volcanoes.astro";
import BugsInBathBombs from "@/components/creations/bugs-in-bath-bombs.astro";
import MonsterSlimeGreen from "@/components/creations/monster-slime-green.astro";
import DinosaurFossils from "@/components/creations/dinosaur-fossils.astro";
import JellySoap from "@/components/creations/jelly-soap.astro";
import DinosaurBathBombs from "@/components/creations/dinosaur-bath-bombs.astro";
import FluffySlimeBlue from "@/components/creations/fluffy-slime-blue.astro";
import MonsterBrains from "@/components/creations/monster-brains.astro";
import StringSlime from "@/components/creations/string-slime.astro";
---

<Layout
  title="Book a Kids Science Birthday Party in Melbourne | Fizz Kidz"
  description="Does your kid love science, experimenting, and making a mess? Then this party package is for them!"
>
  <PartyLayout partyPackage="Science">
    <PageIntro
      slot="intro"
      subtitle="Fizz, Bubble, Explode! For all the little scientists out there, this is for you!"
      type="image"
      image={scienceParty}
      imageAlt="a kid in awe as her science experiment bubbles"
      actionButtonText="Book a party"
      actionButtonPath="/birthday-parties/book-a-party/#book"
      color="blue"
    >
      <span slot="title">Kids Science Birthday Parties</span>
      <span slot="content">
        Fizz Kidz science birthday parties are scientifically proven to be
        fizzing fantastic!
      </span>
    </PageIntro>
    <Creations
      partyPackage="Science"
      image={science}
      imageAlt="Science Party Package"
    >
      <JellySoap slot="1" flippable={false} />
      <DinosaurBathBombs slot="2" flippable={false} />
      <FluffySlimeBlue slot="3" flippable={false} />
      <BugsInBathBombs slot="4" flippable={false} />
      <BubblingVolcanoes slot="5" flippable={false} />
      <DinosaurFossils slot="6" flippable={false} />
      <MonsterBrains slot="7" flippable={false} />
      <StringSlime slot="8" flippable={false} />
      <MonsterSlimeGreen slot="9" flippable={false} />
    </Creations>
  </PartyLayout>
</Layout>
