---
import PageIntro from "@/components/page-intro.astro";
import Layout from "@/layout/Layout.astro";
import PartyLayout from "@/layout/party-layout.astro";

import unicornParty from "@/assets/images/pages/parties/unicorn-party.jpg";
import unicorn from "@/assets/images/pages/parties/packages/unicorn.png";
import Creations from "@/components/party-package-creations.astro";
import UnicornSoap from "@/components/creations/unicorn-soap.astro";
import UnicornBathBombs from "@/components/creations/unicorn-bath-bombs.astro";
import UnicornCloudSlime from "@/components/creations/unicorn-cloud-slime.astro";
import FairyWands from "@/components/creations/fairy-wands.astro";
import SparklingLipBalm from "@/components/creations/sparkling-lip-balm.astro";
import UnicornBathCrumble from "@/components/creations/unicorn-bath-crumble.astro";
---

<Layout
  title="Book a Kids Unicorn Birthday Party in Melbourne | Fizz Kidz"
  description="A party package full of sparkles, glitter and unicorns!"
>
  <PartyLayout partyPackage="Unicorn">
    <PageIntro
      slot="intro"
      subtitle="Welcome to the magical world of Unicorns!"
      image={unicornParty}
      imageAlt="a purple butcket of glycerine cubes, with pretty colourful unciron soaps on top"
      actionButtonText="Book a party"
      actionButtonPath="/birthday-parties/book-a-party/#book"
      color="pink"
    >
      <span slot="title">Unicorn Kids Birthday Parties</span>
      <span slot="content">
        Here we love everything sparkles, glitter and magic!
      </span>
    </PageIntro>
    <Creations
      partyPackage="Unicorn"
      image={unicorn}
      imageAlt="Unicorn Party Package"
    >
      <FairyWands slot="1" flippable={false} />
      <SparklingLipBalm slot="2" flippable={false} />
      <UnicornBathCrumble slot="3" flippable={false} />
      <UnicornSoap slot="4" flippable={false} />
      <UnicornBathBombs slot="5" flippable={false} />
      <UnicornCloudSlime slot="6" flippable={false} />
    </Creations>
  </PartyLayout>
</Layout>
