---
// import "@/styles/globals.css";
import Layout from "@/layout/Layout.astro";
import PageIntro from "@/components/page-intro.astro";
import { Image } from "astro:assets";
import partyHero from "@/assets/images/pages/parties/party-hero.jpg";
import { BreadcrumbWrapper } from "@/react-components/breadcrumb-wrapper";
import StarBulletPoints from "@/components/star-bullet-points.astro";

import forwardArrow from "@/assets/images/pages/parties/forward-arrow.png";
import Step from "@/components/step.astro";
import PrimaryButton from "@/components/primary-button.astro";

import essendonStudio from "@/assets/images/pages/parties/essendon-studio.jpg";
import atHomeParties from "@/assets/images/pages/parties/at-home-parties.png";
import Pricing from "@/components/pricing.astro";
import PartyInformation from "@/components/party-information.astro";
import MixAndMatchParties from "@/components/mix-and-match-parties.astro";
// import PartyPacks from "@/components/party-packs.astro";
import PartyThemes from "@/components/party-themes.astro";
import PartyFaq from "@/components/party-faq.astro";
import Values from "@/components/values.astro";

const { default: greenClock } = await import(
  `@/assets/images/pages/parties/green-clock.svg?raw`
);
const { default: blueCalendar } = await import(
  `@/assets/images/pages/parties/blue-calendar.svg?raw`
);
const { default: purpleHat } = await import(
  `@/assets/images/pages/parties/purple-hat.svg?raw`
);

const { default: greenDrop } = await import(
  `@/assets/images/pages/parties/drop-green.svg?raw`
);
const { default: blueDrop } = await import(
  `@/assets/images/pages/parties/drop-blue.svg?raw`
);
const { default: purpleDrop } = await import(
  `@/assets/images/pages/parties/drop-purple.svg?raw`
);
---

<Layout
  title="Parties | Fizz Kidz"
  description="Fizz Kidz's Birthday Parties are the perfect and stress-free party for all boys and girls, aged 4 - 12, that your child and all their friends will love!"
>
  <main>
    <div class="m-auto block max-w-[1380px] px-5 pt-8">
      <BreadcrumbWrapper
        client:idle
        items={[
          {
            type: "dropdown",
            title: "Birthday Parties",
            items: [
              {
                type: "link",
                title: "Birthday Parties",
                path: "/birthday-parties",
              },
              {
                type: "link",
                title: "Holiday Programs",
                path: "/holiday-programs",
              },
            ],
          },
        ]}
      />
      <section class="mb-12 md:mb-40">
        <PageIntro
          subtitle="The magic of glitter, colour and exploding fun!"
          image={partyHero}
          imageAlt="Party Hero"
          actionButtonPath="/birthday-parties/book-a-party#book"
          actionButtonText="Book a Party"
          color="purple"
        >
          <span slot="title">Fizz Kidz Birthday Parties</span>
          <span slot="content"
            >Fizz Kidz' Kids Birthday Parties are the perfect and stress-free
            party for all boys and girls (aged 4 - 12) that your child and all
            their friends will love!
          </span>
        </PageIntro>
      </section>
      <PartyThemes />
      <section class="mt-16 md:mt-40">
        <h2 class="mb-12 text-center font-lilita text-4xl md:mb-28 md:text-6xl">
          How it works
        </h2>
        <div
          class="flex flex-col items-center justify-center gap-4 min-[1200px]:flex-row min-[1200px]:items-stretch"
        >
          <Step
            title="Choose a party length"
            color="#4FE16D"
            number="1"
            icon={greenClock}
            iconAlt="green clock"
            background={greenDrop}
            backgroundPosition="-bottom-24 -left-12"
            iconClass="min-h-[400px]"
          >
            <div slot="content">
              <h3 class="mb-2 font-lilita text-2xl">1.5 Hour Party</h3>
              <StarBulletPoints
                content={[
                  "Two Creations Per Child",
                  "Two Fantastic Party Hosts",
                  "Exclusive Party Venue",
                ]}
                className="pl-4"
              />
              <h3 class="mb-2 mt-4 font-lilita text-2xl">2 Hour Party</h3>
              <StarBulletPoints
                content={[
                  "Three Creations Per Child",
                  "Two Fantastic Party Hosts",
                  "Exclusive Party Venue",
                ]}
                className="pl-4"
              />
            </div>
          </Step>
          <Image
            src={forwardArrow}
            alt="forward arrow"
            class="h-16 w-fit self-center"
          />
          <Step
            title="Choose your day, time & venue"
            color="#42D4F3"
            number="2"
            icon={blueCalendar}
            iconAlt="blue calendar"
            background={blueDrop}
            backgroundPosition="-bottom-24 -left-8"
            iconClass="min-h-[400px]"
          >
            <div slot="content">
              <h3 class="mb-2 font-lilita text-2xl">Friday</h3>
              <StarBulletPoints
                content={["4:30pm or 6:30pm"]}
                className="pl-4"
              />
              <h3 class="mb-2 mt-4 font-lilita text-2xl">
                Saturdays and Sundays
              </h3>
              <StarBulletPoints
                content={["10am, 12pm, 2:30pm and 4:30pm"]}
                className="pl-4"
              />
              <h3 class="mb-2 mt-4 font-lilita text-2xl">Venue</h3>
              <StarBulletPoints
                content={["Balwyn, Cheltenham, Essendon and Malvern venues"]}
                className="pl-4"
              />
            </div>
          </Step>
          <Image
            src={forwardArrow}
            alt="forward arrow"
            class="h-16 w-fit self-center"
          />
          <Step
            title="Personalise"
            color="#9044E2"
            number="3"
            icon={purpleHat}
            iconAlt="purple hat"
            background={purpleDrop}
            backgroundPosition="right-0 -bottom-24"
            iconClass="min-[415px]:min-h-[400px] min-h-[500px]"
          >
            <div slot="content">
              <StarBulletPoints
                content={[
                  "Choose your favourite creations to make",
                  "Flexible & allergy aware party food",
                  "Personalised online invitations [NEW!]",
                  "You can bring your own birthday cake",
                  "Let us know the approx. number of children & which creations your child would like to make a week before the party",
                ]}
              />
            </div>
          </Step>
        </div>
      </section>
      <div class="my-24 text-center">
        <PrimaryButton
          text="Book a party"
          path="/birthday-parties/book-a-party#book"
        />
      </div>
      <MixAndMatchParties />
      <Pricing />
      <PartyInformation partyPackage="Birthday" />
      <PartyFaq />
      <!-- <PartyPacks /> -->
    </div>
    <section class="relative mt-12 h-[450px]">
      <div
        class="relative z-10 flex h-full flex-col items-center justify-center gap-6"
      >
        <p
          class="mx-8 max-w-[800px] text-center font-lilita text-4xl uppercase text-white sm:text-6xl"
        >
          Cheltenham, Balwyn, Essendon & Malvern studios
        </p>
        <PrimaryButton
          text="Book a party"
          path="/birthday-parties/book-a-party#book"
        />
      </div>
      <Image
        class="absolute top-0 z-0 h-full object-cover"
        src={essendonStudio}
        alt="background image of kids in a classroom"
      />
    </section>
    <div class="mx-auto block max-w-[1200px] px-5 py-8">
      <section class="my-12 flex flex-col gap-16 lg:flex-row lg:gap-8">
        <div class="flex w-full flex-col justify-center gap-4 lg:w-1/2">
          <p class="text-center font-lilita text-4xl lg:text-start">
            Fizz Kidz At Home Parties
          </p>
          <p
            class="text-center font-lilita text-2xl text-[#8DC54B] lg:text-start"
          >
            Sit back, relax and we will take care of everything!
          </p>
          <p class="text-center font-gotham font-medium lg:text-start">
            Our fabulous Fizz Kidz hosts will come to your home or a party venue
            near you, and run a fantastic stress-free party that we know your
            child, and their friends will love!
          </p>
          <div
            class="mt-8 flex flex-wrap justify-center gap-x-12 gap-y-6 lg:justify-start"
          >
            <PrimaryButton
              text="At Home Party Details"
              path="/birthday-parties/at-home-parties"
            />
          </div>
        </div>
        <Image
          src={atHomeParties}
          alt="Fizz Kids running activities at someones home"
          class="object-fit w-full lg:w-[60%]"
        />
      </section>
      <Values />
    </div>
  </main>
</Layout>
