---
import PageIntro from "@/components/page-intro.astro";
import { BreadcrumbWrapper } from "@/components/react/breadcrumb-wrapper";
import Layout from "@/layout/Layout.astro";
import hero from "@/assets/images/pages/franchising/hero.png";
import energy from "@/assets/images/pages/franchising/energy.jpg";
import staff from "@/assets/images/pages/franchising/staff.jpg";
import jonah from "@/assets/images/pages/franchising/jonah.jpg";
import why from "@/assets/images/pages/franchising/why.png";
import one from "@/assets/images/pages/franchising/1.png";
import two from "@/assets/images/pages/franchising/2.png";
import three from "@/assets/images/pages/franchising/3.png";
import four from "@/assets/images/pages/franchising/4.png";
import five from "@/assets/images/pages/franchising/5.png";
import CardWithImage from "@/components/card-with-image.astro";
import { Image } from "astro:assets";
import PrimaryButton from "@/components/primary-button.astro";
import StarBulletPoints from "@/components/star-bullet-points.astro";
import fizzFansBgTop from "@/assets/images/pages/home/fizz-fans-bg-top.svg";
import fizzFansBgBottom from "@/assets/images/pages/home/fizz-fans-bg-bottom.svg";
import line from "@/assets/svg/curved-line.svg";
import FaqAccordion from "@/components/react/faq-accordion";
import fizzFam from "@/assets/images/pages/franchising/fizz-fam.png";
import Values from "@/components/values.astro";

const steps = [
  { image: one, title: "IT & Tech Support" },
  { image: two, title: "Marketing Support" },
  { image: three, title: "Operational Support" },
  { image: four, title: "Recruitment Support" },
  { image: five, title: "Leasing Support" },
] as const;
---

<Layout
  title="Franchising | Fizz Kidz"
  description="Run your own Fizz Kidz studio, and become a part of the Fizz Family!"
>
  <main>
    <div class="m-auto block max-w-[1380px] px-5 pt-8">
      <BreadcrumbWrapper
        items={[{ type: "link", title: "Franchising", path: "/franchising" }]}
      />
      <PageIntro
        subtitle="Join the Fizz Family"
        image={hero}
        imageAlt="Two Fizz Kids staff smiling"
        actionButtonText="Join us!"
        actionButtonPath="#enquire"
        color="blue"
      >
        <span slot="title">Fizz Kidz Franchising</span>
        <span slot="content">
          We are expert providers of kids' entertainment and we are looking to
          bring the Fizz Kidz Fun to kids all across Australia!
        </span>
      </PageIntro>
      <section class="my-12 md:mb-24 md:mt-40">
        <h3 class="mb-4 text-center font-lilita text-5xl uppercase">
          Who we are
        </h3>
        <p class="m-auto mb-12 max-w-3xl text-center font-gotham text-2xl">
          Fizz Kidz is the home of hands-on creativity, high-energy enthusiasm,
          larger then life personalities and Fizzing Fun!
        </p>
        <div class="flex flex-col gap-8 md:flex-row">
          <CardWithImage
            image={jonah}
            imageAlt="A kid with blue hands laughing"
            className="w-full"
          >
            <div slot="content" class="p-8">
              <p class="mb-4 font-lilita text-2xl text-[#F24DA1]">
                Our Mission
              </p>
              <p class="font-gotham text-lg">
                Our mission is to excite and empower children through the
                delivery of high-energy programs that are hands-on, interactive
                and inspire creativity, imagination, and curiosity!
              </p>
            </div>
          </CardWithImage>
          <CardWithImage
            image={staff}
            imageAlt="Two Fizz Kids staff working together and smiling"
            className="w-full"
          >
            <div slot="content" class="p-8">
              <p class="mb-4 font-lilita text-2xl text-[#9DCC45]">Our Vision</p>
              <p class="font-gotham text-lg">
                Our vision is to be the most energetic and engaging provider of
                fun, creative and educational activities for kids across
                Australia.
              </p>
            </div>
          </CardWithImage>
          <CardWithImage
            image={energy}
            imageAlt="Fizz Kids staff leading a room full of kids"
            className="w-full"
          >
            <div slot="content" class="p-8">
              <p class="mb-4 font-lilita text-2xl text-[#4DC5D9]">Our Energy</p>
              <p class="font-gotham text-lg">
                Filled with high-energy, hands-on activities, our parties and
                programs are known and loved by kids!
              </p>
            </div>
          </CardWithImage>
        </div>
      </section>
      <section class="mb-16 flex flex-col gap-16 lg:flex-row lg:gap-8">
        <div class="flex w-full flex-col justify-center gap-4 lg:w-1/2">
          <p class="text-center font-lilita text-4xl lg:text-start">
            Why buy a Fizz Kidz franchise?
          </p>
          <p
            class="text-center font-lilita text-4xl text-[#9044E2] lg:text-start"
          >
            Because we're fizzing fantastic
          </p>
          <StarBulletPoints
            className="ml-4 mt-2"
            content={[
              "Proven and clear track record of success",
              "Low capital investment",
              "Multiple revenue streams",
              "Large opportunity for growth",
              "Fizz Kidz head office manages all customer enquiries",
              "We are wholeheartedly committed to your success",
              "No full time staff required",
              "A model that can offer flexible work-life balance",
              "Custom-built in-house technology that makes running your studio seamless",
            ]}
          />
          <div
            class="mt-8 flex flex-wrap justify-center gap-x-12 gap-y-6 lg:justify-start"
          >
            <PrimaryButton text="Let's chat" path="#enquire" />
          </div>
        </div>
        <Image
          src={why}
          alt="Two Fizz Kids staff smiling with an iPad"
          class="w-full lg:w-1/2"
        />
      </section>
      <section>
        <h5 class="mb-20 text-center font-lilita text-5xl">
          Our Fizztastic Systems
        </h5>
        <div
          class="flex w-full flex-wrap items-center justify-center gap-12 md:justify-between"
        >
          {
            steps.map((step) => (
              <div class="flex flex-col items-center gap-4">
                <Image src={step.image} alt="icon" />
                <p class="font-gotham font-semibold">{step.title}</p>
              </div>
            ))
          }
        </div>
      </section>
    </div>
    <section>
      <Image class="w-full" src={fizzFansBgTop} alt="background of green" />
      <div class="bg-[#D6EAB5] pb-10">
        <div class="m-auto block max-w-4xl px-5 pt-8">
          <h6 class="mb-12 text-center font-lilita text-4xl md:mb-28">
            Fizz Kidz Franchisee Onboarding Journey
          </h6>
          <div
            class="flex grid-cols-6 flex-col items-center justify-center gap-4 gap-x-8 md:grid md:gap-y-16"
          >
            <div
              class="relative col-span-2 col-start-1 flex max-w-[400px] gap-2"
            >
              <div>
                <p class="font-gotham text-5xl">1</p>
              </div>
              <div>
                <p class="font-gotham text-xl font-semibold uppercase">
                  Enquiry
                </p>
                <p>Fill in the form below</p>
              </div>
              <Image
                class="absolute -right-5 -top-16 hidden h-20 w-40 -rotate-12 md:block"
                src={line}
                alt="a black curved line"
              />
            </div>
            <div class="h-6 border-l-2 border-black md:hidden"></div>
            <div
              class="relative col-span-2 col-start-3 flex max-w-[400px] gap-2"
            >
              <div>
                <p class="font-gotham text-5xl">2</p>
              </div>
              <div>
                <p class="font-gotham text-xl font-semibold uppercase">
                  Phone Interview
                </p>
                <p>We will contact you by phone for an initial chat</p>
              </div>
              <Image
                class="absolute -right-28 -top-20 hidden h-20 w-40 -rotate-[8deg] md:block"
                src={line}
                alt="a black curved line"
              />
            </div>
            <div class="h-6 border-l-2 border-black md:hidden"></div>
            <div
              class="relative col-span-2 col-start-5 flex max-w-[400px] gap-2"
            >
              <div>
                <p class="font-gotham text-5xl">3</p>
              </div>
              <div>
                <p class="font-gotham text-xl font-semibold uppercase">
                  Application Form
                </p>
                <p>
                  Complete our Franchise Application Form and Non - Disclosure
                  Agreement.
                </p>
              </div>
              <Image
                class="absolute -bottom-28 right-0 hidden h-20 w-40 rotate-[140deg] md:block"
                src={line}
                alt="a black curved line"
              />
            </div>
            <div class="h-6 border-l-2 border-black md:hidden"></div>
            <div
              class="relative col-span-2 col-start-4 row-start-2 flex max-w-[400px] gap-2"
            >
              <div>
                <p class="font-gotham text-5xl">4</p>
              </div>
              <div>
                <p class="font-gotham text-xl font-semibold uppercase">
                  Let's get to know each other
                </p>
                <p>
                  Meet either online or in a Fizz Kidz studio with our CEO and
                  COO
                </p>
              </div>
              <Image
                class="absolute -left-32 -top-20 hidden h-20 w-40 rotate-[0deg] -scale-x-[1] md:block"
                src={line}
                alt="a black curved line"
              />
            </div>
            <div class="h-6 border-l-2 border-black md:hidden"></div>
            <div
              class="relative col-span-2 col-start-2 row-start-2 flex max-w-[400px] gap-2"
            >
              <div>
                <p class="font-gotham text-5xl">5</p>
              </div>
              <div>
                <p class="font-gotham text-xl font-semibold uppercase">
                  Discover the Fizz Kidz Way
                </p>
                <p>
                  Spend a day in a Fizz Kidz Studio and see what we are all
                  about!
                </p>
              </div>
              <Image
                class="absolute -left-40 bottom-0 hidden h-20 w-40 rotate-[300deg] -scale-x-[1] md:block"
                src={line}
                alt="a black curved line"
              />
            </div>
            <div class="h-6 border-l-2 border-black md:hidden"></div>
            <div
              class="relative col-span-2 col-start-1 flex max-w-[400px] gap-2"
            >
              <div>
                <p class="font-gotham text-5xl">6</p>
              </div>
              <div>
                <p class="font-gotham text-xl font-semibold uppercase">
                  Application on approval
                </p>
                <p>Gain final approval to become a Fizz Kidz Franchisee</p>
              </div>
              <Image
                class="absolute -right-32 -top-20 hidden h-20 w-40 md:block"
                src={line}
                alt="a black curved line"
              />
            </div>
            <div class="h-6 border-l-2 border-black md:hidden"></div>
            <div class="col-span-2 col-start-4 flex max-w-[400px] gap-2">
              <div>
                <p class="font-gotham text-5xl">7</p>
              </div>
              <div>
                <p class="font-gotham text-xl font-semibold uppercase">
                  Site selection and training
                </p>
                <p>
                  Together we will find an appropriate site and get you up and
                  running!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Image src={fizzFansBgBottom} alt="background of green" />
    </section>
    <div class="m-auto block max-w-[1380px] px-5 pt-8">
      <section>
        <FaqAccordion
          client:idle
          items={[
            {
              question: "Who is Fizz Kidz?",
              answer:
                "Fizz Kidz is an innovative and vibrant company that is wholeheartedly dedicated to providing high-energy, interactive and fun entertainment and educational experiences for children. Fizz Kidz energy is vibrant, joyful, and engaging, fostering a sense of wonder and creating a world of curious excitement for children.",
            },
            {
              question: "What support will I receive?",
              answer:
                "We are with you every step of the way. From the moment you join our family, our team is there to support you with thorough training sessions, site selection, hiring your team and setting up your studio - essentially everything required to set you up for success. Once you’re up and running, our head office will act as a centralised booking centre, taking all your customer bookings for you. This takes you out of the day-to-day and allows you to actually work on your thriving business.",
            },
            {
              question: "Can I see financial information?",
              answer:
                "Yes, of course. Once an NDA is signed, we will share this with you.",
            },
            {
              question: "What are the Fizz Kidz ongoing fees?",
              answer:
                "Fizz Kidz have an 8% royalty fee, and this covers the growth and support of the Fizz Kidz brand as well as your head office support. Fizz Kidz have a 2% marketing fund which is specifically allocated to support the brands success.",
            },
            {
              question: "How much does it cost to open a Fizz Kidz Studio?",
              answer:
                "The total initial investment can range between $110,000 - $180,000 depending on site selection. This includes the franchise fees, training, studio fit-out, equipment, opening stock etc. to ensure you are set up to succeed.",
            },
          ]}
        />
        <div class="my-12 flex w-full justify-center">
          <PrimaryButton text="Register your interest" path="#enquire" />
        </div>
      </section>
      <section class="my-16 flex flex-col gap-16 lg:flex-row">
        <Image
          src={fizzFam}
          alt="Two Fizz Kids staff smiling with an iPad"
          class="w-full lg:w-1/2"
        />
        <div class="flex w-full flex-col justify-center gap-4 lg:w-1/2">
          <p class="text-center font-lilita text-5xl lg:text-start">
            Ready to join the Fizz Family?
          </p>
          <p class="font-gotham">
            When you become a franchisee, you're not just starting a business;
            you're joining a caring and thriving family that prioritises
            everyone's success. We're looking for partners who share in our
            values and are passionate about empowering and entertaining
            children!
          </p>
          <div
            class="mt-8 flex flex-wrap justify-center gap-x-12 gap-y-6 lg:justify-start"
          >
            <PrimaryButton text="Let's chat" path="#enquire" />
          </div>
        </div>
      </section>
    </div>
    <section>TODO FORM</section>
    <Values />
  </main>
</Layout>
