---
// import "@/styles/globals.css";
import { storyblokClient } from "@/utils/storyblok-api-client";
import HolidayProgramWeek from "@/components/holiday-program-week.astro";
import Layout from "@/layout/Layout.astro";
import { BreadcrumbWrapper } from "@/components/react/breadcrumb-wrapper";
import PageIntro from "@/components/page-intro.astro";
import holidayPrograms from "@/assets/images/pages/holiday-programs/holiday-programs.jpg";
import Step from "@/components/step.astro";
import forwardArrow from "@/assets/images/pages/parties/forward-arrow.png";
import StarBulletPoints from "@/components/star-bullet-points.astro";
import { Image } from "astro:assets";
import FaqAccordion from "@/components/react/faq-accordion";
import faq from "@/assets/images/pages/parties/packages/slime.png";
import why from "@/assets/images/pages/parties/packages/safari.png";

const { default: greenDrop } = await import(
  `@/assets/images/pages/parties/drop-green.svg?raw`
);
const { default: blueDrop } = await import(
  `@/assets/images/pages/parties/drop-blue.svg?raw`
);
const { default: purpleDrop } = await import(
  `@/assets/images/pages/parties/drop-purple.svg?raw`
);

const programWeeks = await storyblokClient.getHolidayPrograms({
  status: import.meta.env.DEV ? "draft" : "published",
});
---

<Layout
  title="Holiday Programs | Fizz Kidz"
  description="Fizz Kidz holiday programs run in our studio every school holidays. Morning and afternoon sessions available."
>
  <main class="m-auto block max-w-[1380px] px-5 pt-8">
    <BreadcrumbWrapper
      client:idle
      items={[
        {
          type: "dropdown",
          title: "Holiday Programs",
          items: [
            {
              type: "link",
              title: "Birthday Parties",
              path: "/birthday-parties",
            },
            {
              type: "link",
              title: "Holiday Programs",
              path: "/holiday-programs",
            },
            {
              type: "link",
              title: "After School Programs",
              path: "/after-school-programs",
            },
          ],
        },
      ]}
    />
    <PageIntro
      subtitle="Fizzing, Fantastic, Fabulous, Fun!"
      color="purple"
      actionButtonText="Book now"
      actionButtonPath="https://bookings.fizzkidz.com.au/holiday-programs"
      image={holidayPrograms}
      imageAlt="Holiday Programs"
    >
      <span slot="title">Fizz Kidz School Holiday Programs</span>
      <span slot="content"
        >Join us for a creative, hands-on holiday program and make awesome
        take-home Fizz Kidz creations!</span
      >
    </PageIntro>
    <section class="mt-12 md:mt-40">
      <p class="text-center font-lilita text-5xl text-[#9044E2]">
        September & October Holiday Timetable
      </p>
      <p class="mt-6 text-center font-gotham text-xl font-semibold">
        Join us these school holidays for fizzing, fantastic fun!
      </p>
      <p class="mt-4 text-center font-gotham text-xl font-semibold">
        Balwyn, Cheltenham, Essendon and Malvern studios
      </p>
      <div
        class="mt-12 flex flex-col items-center justify-center gap-4 min-[1400px]:flex-row min-[1400px]:items-stretch"
      >
        <Step
          title="Choose your favourite program to attend"
          color="#4FE16D"
          number="1"
          background={greenDrop}
          backgroundPosition="-bottom-24 -left-12"
        >
          <div slot="content">
            <StarBulletPoints
              content={[
                "Make three fabulous Fizz Kidz creations",
                "Play games, win prizes and have fun!",
                "Morning and afternoon snack included",
              ]}
              className="pl-4"
            />
          </div>
        </Step>
        <Image
          src={forwardArrow}
          alt="forward arrow"
          class="h-16 w-fit self-center"
        />
        <Step
          title="Register your child"
          color="#42D4F3"
          number="2"
          background={blueDrop}
          backgroundPosition="-bottom-24 -left-8"
        >
          <div slot="content">
            <StarBulletPoints
              content={[
                "Each program is $49 per child. $90 for the day.",
                "Fizz Kidz Holiday Programs are for children 4 - 12 years old, and all children must be completely toilet trained 😊.",
                "Max 25 children per program",
              ]}
              className="pl-4"
            />
          </div>
        </Step>
        <Image
          src={forwardArrow}
          alt="forward arrow"
          class="h-16 w-fit self-center"
        />
        <Step
          title="We will see you on the day!"
          color="#9044E2"
          number="3"
          background={purpleDrop}
          backgroundPosition="right-0 -bottom-24"
        >
          <div slot="content">
            <StarBulletPoints
              content={[
                "If your child is staying for the day, please pack lunch. Otherwise you don't need anything!",
                "We can't wait to have fun with you!",
              ]}
            />
          </div>
        </Step>
      </div>
    </section>
    {programWeeks.map((week) => <HolidayProgramWeek week={week} />)}
    <section class="my-12 md:my-24">
      <h6 class="mb-4 text-center font-lilita text-4xl md:text-5xl">
        Frequently Asked Questions
      </h6>
      <div class="flex w-full flex-col items-center gap-8 md:flex-row">
        <Image
          class="hidden w-2/5 md:block"
          src={faq}
          alt="Three girls smiling"
        />
        <div class="w-full md:w-3/5">
          <FaqAccordion
            client:visible
            items={[
              {
                question:
                  "My kids are staying for the day. What happens in between programs?",
                answer:
                  "During the hour break between programs, children are fully supervised. They will be able to eat their (nut-free) lunch (bring your own) and participate in down-time activities. Our holiday programs are full of energy so the time between programs is filled with calm activities such as drawing, puzzles and crafts.",
              },
              {
                question: "What's the best age group for Fizz Kidz programs?",
                answer:
                  "Fizz Kidz holiday programs are best for kids 4 - 12 years old. Children that are not toilet trained are not able to attend a Fizz Kidz holiday program.",
              },
              {
                question: "What food is served?",
                answer:
                  "Fizz Kidz provides a morning and afternoon snack for all children attending the program. This snack includes popcorn, fruit, corn chips and water. If your child has allergies or doesn't like the food provided, feel free to bring your own NUT free snacks.",
              },
              {
                question:
                  "My child has allergies, what's the best way to tell you?",
                answer:
                  "When booking in your child, the Fizz Kidz holiday program form will ask you to list any allergies. Please also tell your Fizz Kidz facilitators on the day.",
              },
              {
                question: "My child is Anaphylactic, what do I do?",
                answer:
                  "Children that have an anaphylactic allergy, must bring an epipen. Children that don't have an epipen, won't be able to stay.",
              },
              {
                question: "How much FUN are Fizz Kidz programs?",
                answer:
                  "Fizz Kidz holiday programs are BUZZING with energy! You will walk in the doors to find an abundance of crafts on the table, facilitators with huge smiles and music playing! We can't wait to have fun with you!",
              },
            ]}
          />
        </div>
      </div>
    </section>
    <section class="mb-24 flex flex-col-reverse items-center gap-8 md:flex-row">
      <div class="flex w-full flex-col gap-4 md:w-3/5">
        <p class="mb-4 font-lilita text-5xl text-[#9044E2]">
          Why choose a Fizz Kidz holiday program?
        </p>
        <p>
          Our Fizz Kidz holiday programs in Melbourne focus on hands on fun!
          Created by Talia and the entire Fizz Kidz staff, our holiday programs
          aim to be relevant, creative and provide an opportunity for all kids
          to explore and create fabulous creations and products.
        </p>
        <p>
          Our holiday programs include dancing games and competitions which get
          the children out of there seats and dancing around the room! Children
          are encouraged to also make new friends and get to know everyone in
          their group, often resulting in them not wanting to leave when getting
          picked up!
        </p>
        <p>
          Our programs are run by our Fizz Kidz certified team who all have a
          working with children's cheque and many of them are first aid trained.
          If you have any questions, please feel free to contact us anytime!
        </p>
      </div>
      <Image
        class="object-fit h-fit w-full md:w-2/5"
        src={why}
        alt="A frog in a bath bomb"
      />
    </section>
  </main>
</Layout>
