---
// import "@/styles/globals.css";
import Layout from "@/layout/Layout.astro";
import { getImage, Image } from "astro:assets";
import banner from "@/assets/images/pages/home/banner.jpg";
import banngerGirl from "@/assets/images/pages/home/banner-girl.png";
import CardWithImage from "@/components/card-with-image.astro";

import parties from "@/assets/images/pages/home/parties.jpg";
import activations from "@/assets/images/pages/home/activations.jpg";
import afterSchool from "@/assets/images/pages/home/after-school.jpg";
import holidayPrograms from "@/assets/images/pages/home/holiday-programs.jpg";
import incursions from "@/assets/images/pages/home/incursions.jpg";
import kinderIncursions from "@/assets/images/pages/home/kinder-incursions.jpg";
import { ChevronRight } from "lucide-react";
import studio from "@/assets/images/pages/home/studio.png";
import fizzFansBgTop from "@/assets/images/pages/home/fizz-fans-bg-top.svg";
import fizzFansBgBottom from "@/assets/images/pages/home/fizz-fans-bg-bottom.svg";
import star from "@/assets/images/pages/home/star.svg";
import franchising from "@/assets/images/pages/home/franchising.png";
import mailingListBg from "@/assets/images/pages/home/mailing-list-bg.svg";

import location1 from "@/assets/images/pages/home/location-icon-1.svg";
import location2 from "@/assets/images/pages/home/location-icon-2.svg";
import location3 from "@/assets/images/pages/home/location-icon-3.svg";
import location4 from "@/assets/images/pages/home/location-icon-4.svg";
import PartyThemes from "@/components/party-themes.astro";
import ReviewsCarousel from "@/components/react/reviews-carousel";
import ImageCarousel from "@/components/react/image-carousel";

import value1 from "@/assets/images/pages/home/value-1.svg";
import value2 from "@/assets/images/pages/home/value-2.svg";
import value3 from "@/assets/images/pages/home/value-3.svg";
import value4 from "@/assets/images/pages/home/value-4.svg";

import earth1 from "@/assets/images/pages/incursions/earth-1.webp";
import earth2 from "@/assets/images/pages/incursions/earth-2.jpg";
import earth3 from "@/assets/images/pages/incursions/earth-3.jpg";
import earth4 from "@/assets/images/pages/incursions/earth-4.jpg";
import PrimaryButton from "@/components/primary-button.astro";
import MailingListForm from "@/components/react/forms/mailing-list-form";

const earth1Optimised = await getImage({ src: earth1, format: "webp" });
const earth2Optimised = await getImage({ src: earth2, format: "webp" });
const earth3Optimised = await getImage({ src: earth3, format: "webp" });
const earth4Optimised = await getImage({ src: earth4, format: "webp" });

const values = [
  { icon: value1, text: "We foster wonderment and excitability" },
  { icon: value2, text: "We are passionate about kids' happiness and joy" },
  { icon: value3, text: "We believe in the power of hands-on learning" },
  { icon: value4, text: "We go above and beyond" },
] as const;

const locations = [
  {
    icon: location1,
    location: "Balwyn",
  },
  {
    icon: location2,
    location: "Cheltenham",
  },
  {
    icon: location3,
    location: "Essendon",
  },
  {
    icon: location4,
    location: "Malvern",
  },
] as const;

const services = [
  {
    title: "Birthday Parties",
    subtitle:
      "Filled with high-energy, hands-on activities, our parties are known and loved by kids!",
    image: parties,
    imageAlt: "Kid smiling in front of a birthda cake",
    color: "#F24DA1",
  },
  {
    title: "Activations & Events",
    subtitle:
      "Fizz Kidz at shopping centres, government organisations, local libraries and more",
    image: activations,
    imageAlt: "Kids playing with slime at a shopping center",
    color: "#42D4F3",
  },
  {
    title: "School Incursions",
    subtitle: "Make it easy for teachers to engage their kids in science!",
    image: incursions,
    imageAlt: "A child at school smiling and pouring something into a bottle",
    color: "#A7CB5B",
  },
  {
    title: "Holiday Programs",
    subtitle:
      "We create a new and exciting timetable each holiday period and the studios bring it to life!",
    image: holidayPrograms,
    imageAlt: "A child holding a bath bomb and smiling at the camera",
    color: "#A7CB5B",
  },
  {
    title: "After-School Programs",
    subtitle:
      "The program offers children the opportunity to explore the fascinating nature of science!",
    image: afterSchool,
    imageAlt: "Children at school gathered and working together",
    color: "#9044E2",
  },
  {
    title: "Kinder Incursions",
    subtitle:
      "Fizz Kidz kindergarten incursions are engaging, hands-on and loved by teachers and little bubs!",
    image: kinderIncursions,
    imageAlt: "Little kids in smocks with messy hands laughing",
    color: "#F24DA1",
  },
] as const;
---

<Layout
  title="Fizz Kidz"
  description="Fizz Kidz offers unique and fun holiday programs, after school programs, activations, events and kids birthday parties across Australia."
>
  <main>
    <section class="relative h-[70svh] min-h-[600px] min-[1000px]:h-[600px]">
      <Image
        class="h-[70svh] min-h-[600px] w-full object-cover min-[1000px]:h-[600px]"
        src={banner}
        alt="banner background"
      />
      <div
        class="absolute left-0 right-0 top-0 m-auto flex h-[70svh] min-h-[600px] w-full flex-col justify-between min-[1000px]:h-[600px] min-[1000px]:flex-row min-[1000px]:items-center min-[1150px]:max-w-[90rem] min-[1150px]:flex-row"
      >
        <div
          class="mt-8 max-w-[29rem] px-4 min-[1000px]:w-[31rem] min-[1000px]:max-w-[31rem] min-[1000px]:pl-12 min-[1150px]:mt-0 min-[1150px]:w-[39rem] min-[1150px]:max-w-[39rem]"
        >
          <p
            class="min-[460px]:leading[1.4] whitespace-nowrap text-justify font-lilita text-5xl leading-[1.4] text-white [text-align-last:justify] min-[380px]:text-6xl min-[380px]:leading-[1.4] min-[460px]:text-7xl min-[1150px]:text-8xl"
          >
            We make kids
          </p>
          <!-- <div class="whitespace-nowrap text-justify">
            <span
              class="font-lilita text-6xl leading-[1.4] text-white min-[460px]:text-7xl min-[1150px]:text-8xl"
            >
              We
            </span>
            <span
              class="mr-4 font-lilita text-6xl leading-[1.4] text-white min-[460px]:text-7xl min-[1150px]:text-8xl"
              >make</span
            >
            <span
              class="font-lilita text-6xl leading-[1.4] text-white min-[460px]:text-7xl min-[1150px]:text-8xl"
              >kids</span
            >
            <span class="inline-block h-0 w-full"></span>
          </div> -->
          <div class="text-justify">
            <span
              class="font-lilita text-7xl uppercase leading-[0.6] text-white min-[460px]:text-9xl min-[1150px]:text-[10rem] min-[1150px]:leading-[0.8]"
              >S</span
            >
            <span
              class="font-lilita text-7xl uppercase leading-[0.6] text-white min-[460px]:text-9xl min-[1150px]:text-[10rem] min-[1150px]:leading-[0.8]"
              >m</span
            >
            <span
              class="font-lilita text-7xl uppercase leading-[0.6] text-white min-[460px]:text-9xl min-[1150px]:text-[10rem] min-[1150px]:leading-[0.8]"
              >i</span
            >
            <span
              class="font-lilita text-7xl uppercase leading-[0.6] text-white min-[460px]:text-9xl min-[1150px]:text-[10rem] min-[1150px]:leading-[0.8]"
              >l</span
            >
            <span
              class="font-lilita text-7xl uppercase leading-[0.6] text-white min-[460px]:text-9xl min-[1150px]:text-[10rem] min-[1150px]:leading-[0.8]"
              >e</span
            >
            <span class="inline-block h-0 w-full"></span>
          </div>
          <p
            class="leading-1 font-lilita text-2xl text-white min-[1150px]:text-4xl"
          >
            Birthday Parties, Holiday Programs, After School Programs and more!
          </p>
        </div>
        <div class="relative h-full min-[1000px]:w-1/2">
          <Image
            class="absolute bottom-0 right-0 h-[300px] w-auto object-cover min-[800px]:h-[400px] min-[1000px]:h-[500px]"
            src={banngerGirl}
            alt="A girl smiling and holding a green bubbling volcano"
          />
        </div>
      </div>
    </section>
    <section class="m-auto block max-w-[1380px] px-5 pt-8">
      <p class="my-8 text-center font-lilita text-5xl">
        Fizzing, Fantastic, Fun awaits!
      </p>
      <h1 class="m-auto max-w-4xl text-center font-gotham text-2xl">
        Fizz Kidz offer the most exciting holiday programs, after-school
        programs and kids birthday parties in Melbourne
      </h1>
      <div class="my-12 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {
          services.map((service) => (
            <CardWithImage
              image={service.image}
              imageAlt={service.imageAlt}
              className="cursor-pointer group"
            >
              <div
                slot="content"
                class="flex h-full flex-col justify-between p-8 group-hover:bg-gray-50"
              >
                <div>
                  <h4
                    class="mb-2 font-lilita text-2xl uppercase"
                    style={{ color: service.color }}
                  >
                    {service.title}
                  </h4>
                  <p class="font-gotham text-xl">{service.subtitle}</p>
                </div>
                <div class="mt-4 flex items-center gap-4">
                  <p
                    class="font-semibold uppercase"
                    style={{ color: service.color }}
                  >
                    Learn More
                  </p>
                  <ChevronRight className="h-4 w-4" color={service.color} />
                </div>
              </div>
            </CardWithImage>
          ))
        }
      </div>
    </section>
    <section>
      <div class="m-auto block max-w-[1380px] px-5 pt-8">
        <h3 class="my-8 text-center font-lilita text-5xl">Our Studios</h3>
        <h4 class="m-auto max-w-4xl text-center font-gotham text-2xl">
          The heart of Fizz Kidz are our Studios. Fizz Kidz studios are
          captivating, welcoming,and brimming with excitement!
        </h4>
        <div
          class="m-auto my-16 grid w-max max-w-4xl grid-cols-2 gap-12 min-[900px]:grid-cols-4"
        >
          {
            locations.map((location) => (
              <div class="flex flex-col items-center justify-center gap-4">
                <Image
                  src={location.icon}
                  alt="icon"
                  class="h-12 min-[400px]:h-16 sm:h-24"
                />
                <p class="font-lilita text-xl uppercase min-[400px]:text-2xl sm:text-3xl">
                  {location.location}
                </p>
              </div>
            ))
          }
        </div>
      </div>
      <Image
        class="min-h-96 object-cover"
        src={studio}
        alt="An image of the Essendon studio"
      />
    </section>
    <section class="m-auto block max-w-[1380px] px-5 pt-8">
      <PartyThemes />
    </section>
    <section>
      <Image src={fizzFansBgTop} alt="background of green" class="" />
      <div class="bg-[#D6EAB5]">
        <div class="m-auto block max-w-[1380px] px-5 pt-8">
          <p class="mb-4 text-center font-lilita text-5xl">Fizz Fans</p>
          <p class="m-auto max-w-4xl text-center font-gotham text-2xl">
            We've hosted over <strong>50,000 parties and events</strong> and we are
            incredibly good at what we're doing lorem ipsum
          </p>
          <div
            class="my-8 flex w-full flex-col items-center justify-center gap-8 md:flex-row"
          >
            <div class="flex gap-2">
              {
                [1, 2, 3, 4, 5].map(() => (
                  <Image src={star} alt="star" class="h-12 w-12" />
                ))
              }
            </div>
            <p class="text-center font-gotham text-4xl font-thin">
              Thousands of 5 Star Reviews
            </p>
          </div>
          <ReviewsCarousel
            client:visible
            reviews={[
              {
                review:
                  "We had my daughters party yesterday and the hosts were amazing. I got to sit back and relax and they ran the party for us. The kids had a ball. They were so good with the kids. 10/10 Thank you for making my daughters birthday so special.",
                writtenBy: "Violeta",
                writtenYear: "2023",
              },
              {
                review:
                  " My son had the most amazing birthday party at Fizz Kids and it exceeded my expectations by a long shot. Not only did the kids get to make fun and messy creations but the party hosts were sensational. They were so engaging with the kids and kept them involved the entire time, playing games in between each activity which the kids loved. The food package was very generous with lots of options to choose from. All the parents that attended with their kids were very impressed with they way it was run and how great the hosts were with the kids - aged 4-5.  Special thank you to Paddy, who without missing a beat cleaned up my sons 'power spew' as well.  I cannot recommend this party venue enough 😊",
                writtenBy: "Robin",
                writtenYear: "2023",
              },
              {
                review:
                  "Such an easy process, From booking through to the day, clear information and all done online. Pace of the party was great, the kids loved it. Lots of food and staff were really lovely, accommodating, enthusiastic and engaging with the kids. We had 14 kids plus parents and the space was big enough for that number plus parents. 5th birthday party for 1.5 hours was perfect, with a few younger siblings and the younger ones were entertained as well. Great option to outsource a party that is value for money. Would highly recommended!",
                writtenBy: "Siobhan",
                writtenYear: "2023",
              },
              {
                review:
                  " We just hosted our daughter's birthday party at Fizz Kids Essendon and boy was it a hit!! The booking/organising of the function is so easy and really detailed. The party itself was wonderful, our hosts were so helpful and kept all the children happy and entertained! They were so excited and engaged with the experiences too. Highly recommend Fizz Kids Essendon and look forward to coming back for holiday club!!",
                writtenBy: "Dee",
                writtenYear: "2023",
              },
              {
                review:
                  "We had my daughter's 9th birthday at Fizz Kidz Essendon and I have only great things to say about the experience. Great activities, helpful and engaging staff, well considered schedule (having kids decorate their own bags at the start is a great idea!), and a really fun vibe. It was such a relief to just hand everything over for a change!",
                writtenBy: "Chelsea",
                writtenYear: "2024",
              },
            ]}
          />
        </div>
        <div class="h-1">
          <!-- for some reason this stops a gap appearing (???) -->
        </div>
      </div>
      <Image src={fizzFansBgBottom} alt="background of green" class="" />
    </section>
    <section class="m-auto block max-w-[1380px] px-5 pt-8">
      <p class="text-center font-lilita text-5xl">We're social - join us!</p>
      <ImageCarousel
        images={[
          {
            image: earth1Optimised,
            alt: "weather experiment in glass container",
          },
          {
            image: earth2Optimised,
            alt: "fizz kidz staff high fiving children",
          },
          {
            image: earth3Optimised,
            alt: "children gathered around a tub, about to perform an experiment",
          },
          {
            image: earth4Optimised,
            alt: "fizz kidz staff facilitating children in an activity",
          },
        ]}
      />
    </section>
    <section class="m-auto my-12 block max-w-[1380px] px-5 pt-8 md:my-24">
      <div class="flex flex-col items-center justify-center gap-8 md:flex-row">
        <div class="flex flex-col gap-12 md:w-1/2">
          <h6 class="font-lilita text-5xl">Own a Franchise</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum
          </p>
          <PrimaryButton
            text="Let's Chat"
            path="/franchising"
            className="w-fit"
          />
        </div>
        <Image
          class="md:w-1/2"
          src={franchising}
          alt="Fizz Kidz staff smiling and making slime"
        />
      </div>
    </section>
  </main>
  <section class="m-auto my-12 block max-w-[1380px] px-5 pt-8 md:my-24">
    <p class="mb-16 text-center font-lilita text-5xl">Our Values</p>
    <div class="grid grid-cols-2 gap-8 md:grid-cols-4">
      {
        values.map((value) => (
          <div class="flex flex-col items-center gap-6">
            <Image
              class="h-16 w-16 min-[450px]:h-32 min-[450px]:w-32"
              src={value.icon}
              alt="icon"
            />
            <p class="max-w-60 text-center font-gotham">{value.text}</p>
          </div>
        ))
      }
    </div>
  </section>
  <section>
    <Image src={mailingListBg} alt="purple background" />
    <div class="bg-[#9044E2]">
      <div class="m-auto block max-w-[1380px] px-5 pb-8 pt-8">
        <p class="mb-4 text-center font-lilita text-5xl text-white">
          Join Our Mailing List
        </p>
        <p class="m-auto mb-6 text-center font-gotham font-thin text-white">
          Be the ﬁrst to hear abour our special dicounts, events and more!
        </p>
        <MailingListForm client:visible />
      </div>
    </div>
  </section>
</Layout>
