---
import PageIntro from "@/components/page-intro.astro";
import { BreadcrumbWrapper } from "@/components/react/breadcrumb-wrapper";
import Layout from "@/layout/Layout.astro";
import cheltenham from "@/assets/images/pages/locations/cheltenham.jpg";
import balwyn from "@/assets/images/pages/locations/balwyn.jpg";
import essendon from "@/assets/images/pages/locations/essendon.jpg";
import malvern from "@/assets/images/pages/locations/malvern.jpg";
import kingsville from "@/assets/images/pages/locations/kingsville.png";
import { Image } from "astro:assets";
import Values from "@/components/values.astro";
import MailingList from "@/components/mailing-list.astro";
---

<Layout
  title="Find Your Nearest Kids Party Location in Melbourne | Fizz Kidz"
  description="View the locations of all of our studios, and find the closest one to you!"
>
  <main class="m-auto block max-w-[1380px] px-5 pt-4">
    <div class="h-[10px]"></div>
    <BreadcrumbWrapper
      items={[{ type: "link", title: "Locations", path: "/locations/" }]}
    />
    <PageIntro
      subtitle="Find a studio near you!"
      image={essendon}
      imageAlt="The interior of a Fizz Kids studio"
      color="blue"
      actionButtonPath="/contact-us/#contact"
      actionButtonText="Contact us"
    >
      <span slot="title">Fizz Kidz Locations</span>
    </PageIntro>
    <section class="my-12 md:my-32">
      <h4 class="mb-16 text-center font-lilita text-5xl text-[#8BC34B]">
        The heart of Fizz Kidz are our Fizz Kidz Studios.
      </h4>
      <div
        class="mb-12 flex flex-col-reverse items-center justify-center gap-12 md:mb-28 lg:flex-row"
      >
        <div class="mx-0 md:mx-8 lg:w-1/2">
          <Image
            class="rounded-xl shadow-pink-sm md:shadow-pink-md"
            src={kingsville}
            alt="The kingsville studio"
          />
        </div>
        <div class="lg:w-1/2">
          <h5 class="font-lilita text-4xl">Kingsville Kids Party Venue</h5>
          <p class="mb-4 font-lilita text-4xl">
            238 Somerville Rd, Kingsville, VIC 3012
          </p>
          <p class="font-gotham text-lg">
            Our brand-new Kingsville studio is the perfect space for kids to
            unleash their creativity, have fun, and get messy! Conveniently
            located on Somerville Road, our spacious and vibrant studio offers
            plenty of room for kids to dance, create, and explore!<br /><br />
            There is ample parking available nearby, making drop-offs and pick-ups
            a breeze. Plus, a cozy café is just meters away, so parents can relax
            with a coffee while the kids enjoy their Fizz Kidz experience.<br
            /><br />
            We can't wait to bring the magic of Fizz Kidz to Melbourne's west - come
            and celebrate, create, and have a blast with us in Kingsville!
          </p>
        </div>
      </div>
      <div
        class="mb-12 flex flex-col items-center justify-center gap-12 md:mb-28 lg:flex-row"
      >
        <div class="lg:w-1/2">
          <h5 class="font-lilita text-4xl">Cheltenham Kids Party Venue</h5>
          <p class="mb-4 font-lilita text-4xl">
            273 Bay Road, Cheltenham VIC 3192
          </p>
          <p class="font-gotham text-lg">
            Light and bright, conveniently located on Bay Rd, our Cheltenham
            studio is covered in colour, and beaming with fun! The venue has
            amble 4 hour parking right out front, is located opposite Aldi and
            conveniently just a 4 minute drive from Westfield Southland.
            <br /><br /> The Fizz Kidz Cheltenham venue can accomodate up to 28 children.
          </p>
        </div>
        <div class="mx-0 md:mx-8 lg:w-1/2">
          <Image
            class="rounded-xl shadow-green-sm md:shadow-green-md"
            src={cheltenham}
            alt="The cheltenham studio"
          />
        </div>
      </div>
      <div
        class="mb-12 flex flex-col-reverse items-center justify-center gap-12 md:mb-28 lg:flex-row"
      >
        <div class="mx-0 md:mx-8 lg:w-1/2">
          <Image
            class="rounded-xl shadow-pink-sm md:shadow-pink-md"
            src={essendon}
            alt="The essendon studio"
          />
        </div>
        <div class="lg:w-1/2">
          <h5 class="font-lilita text-4xl">Essendon Kids Party Venue</h5>
          <p class="mb-4 font-lilita text-4xl">
            75 Raleigh St, Essendon VIC 3040
          </p>
          <p class="font-gotham text-lg">
            Our stunning Essendon studio is big, colourful and bright with lots
            of natural light. There is ample 4 hour parking right outside the
            studio on Raleigh street. The studio is located right next to PEGS
            Junior School. The Fizz Kidz Essendon studio can accomodate up to 30
            children.<br /><br />Cafe for parents: Pizza By D'Asporto is
            conveniently located right next door to Fizz Kidz Essendon. Parents
            are welcome to grab a coffee, or even a pizza!<br /><br />Assembly
            Ground is another great cafe just a two minute walk down the road
            and is a fantastic family friendly cafe as-well.
          </p>
        </div>
      </div>
      <div
        class="mb-12 flex flex-col items-center justify-center gap-12 md:mb-28 lg:flex-row"
      >
        <div class="lg:w-1/2">
          <h5 class="font-lilita text-4xl">Malvern Kids Party Venue</h5>
          <p class="mb-4 font-lilita text-4xl">
            20 Glenferrie Road, Malvern VIC 3144
          </p>
          <p class="font-gotham text-lg">
            Our loved Malvern studio is conveniently located on Glenferrie Road
            where there is plenty of street parking, family friendly cafes all
            around and lots of natural light.
            <br /><br />Malvern Fizz Kidz can accomodate up to 28 children.<br
            /><br />Cafe for parents: Green Goose Cafe is a fabulous family
            friendly cafe located right around the corner. You're welcome to
            order coffee's, cakes, croissants etc from them and bring into our
            studio or reserve a table for your guests parents to go to during
            the party.
          </p>
        </div>
        <div class="mx-0 md:mx-8 lg:w-1/2">
          <Image
            class="rounded-xl shadow-purple-sm md:shadow-purple-md"
            src={malvern}
            alt="The malvern studio"
          />
        </div>
      </div>
      <div
        class="mb-12 flex flex-col-reverse items-center justify-center gap-12 md:mb-28 lg:flex-row"
      >
        <div class="mx-0 md:mx-8 lg:w-1/2">
          <Image
            class="rounded-xl shadow-blue-sm md:shadow-blue-md"
            src={balwyn}
            alt="The balwyn studio"
          />
        </div>
        <div class="lg:w-1/2">
          <h5 class="font-lilita text-4xl">Balwyn Kids Party Venue</h5>
          <p class="mb-4 font-lilita text-4xl">
            184 Whitehorse Rd, Balwyn 3103
          </p>
          <p class="font-gotham text-lg">
            Fizz Kidz Balwyn is known and loved by the community. Located across
            the road from the Balwyn Cinema, this kids party venue in Melbourne
            is bright with plenty of space to dance and have fun!
            <br /><br />The Fizz Kidz Balwyn studio can accomodate up to 30
            children.
            <br /><br />Cafe for parents: East and Co is a bright and big cafe
            that is conveniently located next door the Fizz Kidz studio.
          </p>
        </div>
      </div>
    </section>
    <Values />
  </main>
  <MailingList />
</Layout>
