---
import PartyPackage from "./party-package.astro";

import glitzAndGlam from "@/assets/images/pages/parties/packages/glitz-and-glam.png";
import science from "@/assets/images/pages/parties/packages/science.png";
import slime from "@/assets/images/pages/parties/packages/slime.png";
import tieDye from "@/assets/images/pages/parties/packages/tie-dye.png";
import safari from "@/assets/images/pages/parties/packages/safari.png";
import swiftie from "@/assets/images/pages/parties/packages/swiftie.png";
import unicorn from "@/assets/images/pages/parties/packages/unicorn.png";
import fluidBears from "@/assets/images/pages/parties/packages/fluid-bears.png";
---

<section class="mt-12 md:mt-24">
  <div class="mb-8 flex flex-col items-center gap-4 md:mb-16">
    <h3 class="text-center font-lilita text-5xl">Birthday Party Themes</h3>
    <h4
      class="max-w-3xl text-center font-lilita text-2xl text-[#9044E2] md:text-3xl"
    >
      Our packages create a personalised birthday party that your child will
      love.
    </h4>
    <p class="text-center font-gotham text-xl">
      Whether your child loves all things glitter and sparkles or is amazed by<br
      />science we have the perfect party for your child!
    </p>
  </div>
  <div
    class="mb-24 grid grid-cols-1 justify-center gap-y-4 min-[380px]:grid-cols-2 min-[900px]:grid-cols-4"
  >
    <PartyPackage
      title="Glitz & Glam Parties"
      color="#F24C9F"
      image={glitzAndGlam}
      imageAlt="hands with lip balm"
      path="/birthday-parties/glam-parties/"
    />
    <PartyPackage
      title="Science Parties"
      color="#43D4F3"
      image={science}
      imageAlt="bubbling volcano"
      path="/birthday-parties/science-parties/"
    />
    <PartyPackage
      title="Slime Parties"
      color="#9044E2"
      image={slime}
      imageAlt="girl holding slime and smiling"
      path="/birthday-parties/slime-parties/"
    />
    <PartyPackage
      title="Tie Dye Parties"
      color="#F6BA33"
      image={tieDye}
      imageAlt="tie dye shoelaces"
      path="/birthday-parties/tie-dye-parties/"
    />
    <PartyPackage
      title="Safari Parties"
      color="#4EE16D"
      image={safari}
      imageAlt="a frog in a bath bomb"
      path="/birthday-parties/safari-parties/"
    />
    <PartyPackage
      title="Swiftie Parties"
      color="#9044E2"
      image={swiftie}
      imageAlt="Taylor Swift"
      path="/birthday-parties/taylor-swift-parties/"
    />
    <PartyPackage
      title="Unicorn Parties"
      color="#F24C9F"
      image={unicorn}
      imageAlt="unicorn soap"
      path="/birthday-parties/unicorn-parties/"
    />
    <PartyPackage
      title="Fluid Bears Party"
      color="#43D4F3"
      image={fluidBears}
      imageAlt="A Fizz kids staff holding a box"
      path="/birthday-parties/fluid-bears-parties/"
    />
  </div>
</section>
