---
import { Image } from "astro:assets";

type Props = {
  color: string;
  image: ImageMetadata;
  imageAlt: string;
  title: string;
  path: string;
};

const { color, image, imageAlt, path, title } = Astro.props;
---

<div class="flex max-w-96 flex-col items-center">
  <a href={path}>
    <Image src={image} alt={imageAlt} class="object-fit w-full" />
  </a>
  <a
    href={path}
    class="my-4 text-center font-lilita text-lg sm:text-2xl"
    style={{ color }}
  >
    {title}
  </a>
  <a
    href={path}
    class="font-gotham text-xs font-semibold uppercase sm:text-sm"
    style={{ color }}
  >
    Learn more
  </a>
</div>
