---
import { Image } from "astro:assets";
import PrimaryButton from "./primary-button.astro";
import { cn } from "./react/lib/utils";
import blackWave from "@/assets/images/pages/parties/black-wave.svg";

type Props = {
  partyPackage: string;
  image: ImageMetadata;
  imageAlt: string;
  caption?: string;
  hideLeftImage?: boolean;
  blackBackground?: boolean;
};

const {
  partyPackage,
  image,
  imageAlt,
  caption = "",
  hideLeftImage = false,
  blackBackground = false,
} = Astro.props;
---

<section class="md:mb-26 mb-12 mt-20 md:mt-36">
  <div class="m-auto block max-w-[1380px] px-5 pt-4">
    <h4 class="mb-4 text-center font-lilita text-5xl">
      ✨ {partyPackage} Birthday Party Creations ✨
    </h4>
    <p
      class={cn("mb-8 text-center font-gotham text-2xl", {
        "mb-0": blackBackground,
      })}
    >
      {caption}
    </p>
  </div>
  {
    blackBackground && (
      <Image
        src={blackWave}
        alt="black background wave"
        class="left-0 right-0 w-screen"
      />
    )
  }
  <div class={cn(blackBackground && "bg-black")}>
    <div
      class={cn(
        "m-auto px-5 pt-4 max-w-[1380px] flex flex-col gap-8 lg:flex-row",
        {
          "justify-center": hideLeftImage,
        }
      )}
    >
      {
        !hideLeftImage && (
          <div class="hidden w-2/5 flex-col items-center justify-center gap-8 lg:flex">
            <Image src={image} alt={imageAlt} />
            <PrimaryButton
              className="w-fit mb-4"
              text="View all creations"
              path="/birthday-parties/creations/"
            />
          </div>
        )
      }
      <div
        class={cn(
          "grid w-full grid-cols-2 items-center justify-center gap-y-4 md:grid-cols-3 lg:w-3/5 [&>div]:flex [&>div]:items-center [&>div]:justify-center",
          {
            "md:grid-cols-4 lg:w-full": hideLeftImage,
          }
        )}
      >
        <div><slot name="1" /></div>
        <div><slot name="2" /></div>
        <div><slot name="3" /></div>
        <div><slot name="4" /></div>
        <div><slot name="5" /></div>
        <div><slot name="6" /></div>
        <div><slot name="7" /></div>
        <div><slot name="8" /></div>
        <div><slot name="9" /></div>
        <div><slot name="10" /></div>
        <div><slot name="11" /></div>
        <div><slot name="12" /></div>
      </div>
      <div class="flex justify-center lg:hidden">
        <PrimaryButton
          className="mb-4 w-fit"
          text="View all creations"
          path="/birthday-parties/creations/"
        />
      </div>
    </div>
  </div>
  {
    blackBackground && (
      <Image
        src={blackWave}
        alt="black background wave"
        class="-mt-1 w-screen rotate-180"
      />
    )
  }
</section>
