---
import PageIntro from "@/components/page-intro.astro";
import { BreadcrumbWrapper } from "@/components/react/breadcrumb-wrapper";
import Layout from "@/layout/Layout.astro";
import art from "@/assets/images/pages/after-school-programs/art/art.png";
import child from "@/assets/images/pages/after-school-programs/art/child.png";
import { Image } from "astro:assets";
import PrimaryButton from "@/components/primary-button.astro";
import blueCalendar from "@/assets/images/pages/parties/blue-calendar.svg";
import greenClock from "@/assets/images/pages/parties/green-clock.svg";
import greenDrops from "@/assets/images/pages/parties/drop-green.svg";
import Step from "@/components/step.astro";
import StarBulletPoints from "@/components/star-bullet-points.astro";
import clay from "@/assets/images/pages/after-school-programs/art/clay.png";
import staff from "@/assets/images/pages/after-school-programs/art/staff.jpg";
import FreeTrial from "@/components/free-trial.astro";
---

<Layout
  title="After School Art Program | Fizz Kidz"
  description="Embark on a creative journey where innovation meets art, fostering a life-long love for design, craft, making and artistry."
>
  <main class="m-auto block max-w-[1380px] px-5 py-8">
    <BreadcrumbWrapper
      client:idle
      items={[
        {
          type: "link",
          title: "After School Programs",
          path: "/after-school-programs",
        },
        {
          type: "dropdown",
          title: "Art & Makers Program",
          items: [
            {
              type: "link",
              title: "Science Program",
              path: "/after-school-programs/science-program",
            },
            {
              type: "link",
              title: "Art & Makers Program",
              path: "/after-school-programs/art-and-makers-program",
            },
          ],
        },
      ]}
    />
    <PageIntro
      subtitle="Igniting curiosity, sparking excitement, and fostering a lifelong love for creative exploration!"
      image={art}
      imageAlt="A child holding a piece of art and craft and smiling"
      color="green"
      actionButtonText="Register for a free trial"
      actionButtonPath="https://bookings.fizzkidz.com.au/after-school-program-enrolment-form?type=studio"
    >
      <span slot="title">Fizz Kidz After School Art & Makers Program</span>
      <span slot="content"
        >Embark on a creative journey where innovation meets art, fostering a
        life-long love for design, craft, making and artistry.
      </span>
    </PageIntro>
    <section class="my-12 md:my-32">
      <h3 class="mb-6 text-center font-lilita text-5xl">
        Join the science adventure!
      </h3>
      <p class="mb-8 text-center font-lilita text-4xl text-[#9044E2] md:mb-20">
        - Now taking Term 3 Enrolments -
      </p>
      <div class="flex flex-col items-center justify-center gap-12 md:flex-row">
        <div class="flex items-center justify-center md:w-1/2">
          <Image
            class="max-h-96 w-fit rounded-2xl object-contain shadow-green-md"
            src={child}
            alt="A child smiling and holding an art piece"
          />
        </div>
        <div class="md:w-1/2">
          <p class="mb-4 font-lilita text-2xl">
            We believe in nurturing not only the artist within but also the
            innovative thinker. The program encourages kids to explore,
            experiment, and bring their imaginative masterpieces to life!
          </p>
          <p>
            The Fizz Kidz Art and Makers Program offers kids a unique
            experience, that blends fine art with a makers mindset. The program
            aims to inspire creativity and innovation, turning ideas into
            masterpieces that your kids are proud of.
            <br /><br />
            The program has been developed by primary school art specialists, is
            aligned with the victorian curriculum and run by the same passionate
            facilitator each week.
          </p>
        </div>
      </div>
    </section>
    <section>
      <h5 class="mb-12 text-center font-lilita text-5xl md:mb-24">
        Term 3 Program Details
      </h5>
      <div class="flex flex-col gap-12 md:flex-row">
        <div class="flex flex-col items-center justify-center gap-4 md:w-1/2">
          <Image
            class="h-24 w-fit"
            src={blueCalendar}
            alt="Icon of a blue calendar"
          />
          <p class="font-lilita text-3xl">In Studio Program Timetable</p>
        </div>
        <div class="relative md:w-1/2">
          <Image
            class="absolute -bottom-10 -left-20 z-10 h-60 rotate-180"
            src={greenDrops}
            alt="background dots"
          />

          <div class="relative z-20 rounded-2xl shadow-lg">
            <div class="rounded-t-2xl bg-[#4FE16D] p-3">
              <p class="text-center font-lilita text-3xl text-white">
                Term 3 - Starts 24th July
              </p>
            </div>
            <div class="relative rounded-b-2xl bg-white p-6">
              <Image
                class="absolute right-4 z-30 h-20 w-fit"
                src={greenClock}
                alt="Icon of a green clock"
              />
              <p class="relative z-50 font-lilita text-3xl">Wednesdays</p>
              <p class="relative z-50 mb-4 font-lilita text-3xl">
                4:15pm - 5:15pm
              </p>
              <p class="relative z-50 font-lilita text-xl text-slate-500">
                Prep - Grade 5
              </p>
              <p class="relative z-50 font-lilita text-xl text-slate-500">
                $234 ($26 per week for a 9 week term)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="my-16 flex justify-center">
        <PrimaryButton
          text="Register for a free trial"
          path="https://bookings.fizzkidz.com.au/after-school-program-enrolment-form?type=studio"
        />
      </div>
    </section>
    <section>
      <h5 class="mb-8 text-center font-lilita text-4xl">Key Information</h5>
      <div class="flex flex-col gap-8 lg:flex-row">
        <Step title="About" color="#50E16D">
          <div slot="content">
            <p class="mb-4 font-lilita text-xl">Key program details</p>
            <StarBulletPoints
              content={[
                "Specifically tailored for children in Prep through to Grade 5",
                "Each session runs from 4:15pm to 5:15pm at a Fizz Kidz studio",
                "Every week students will explore a new art element and create their own Art and Makers project with all the materials provided by Fizz Kidz",
                "Same dedicated facilitator every week",
              ]}
            />
          </div>
        </Step>
        <Step title="Key Learning Outcomes" color="#6EC1E4">
          <div slot="content">
            <p class="mb-4 font-lilita text-xl">Key program details</p>
            <StarBulletPoints
              content={[
                "Specifically tailored for children in Prep through to Grade 5",
                "Each session runs from 4:15pm to 5:15pm at a Fizz Kidz studio",
                "Every week students will explore a new art element and create their own Art and Makers project with all the materials provided by Fizz Kidz",
                "Same dedicated facilitator every week",
              ]}
            />
          </div>
        </Step>
        <Step title="More Information" color="#9044E2">
          <div slot="content">
            <p class="mb-4 font-lilita text-xl">Elements Explored</p>
            <StarBulletPoints
              content={[
                "Colour, Shape, Texture, Space & Line",
                "Building, Construction, Making & Exploration",
              ]}
            />
            <p class="my-4 font-lilita text-xl">Techniques practised</p>
            <StarBulletPoints
              content={[
                "Weaving, Threading, Wrapping, Building, Collaging, Dying, Rolling, Printing & Marbling and much more!",
              ]}
            />
            <p class="my-4 font-lilita text-xl">Materials Used</p>
            <StarBulletPoints
              content={[
                "Oil pastels, Markers, Pens, Paint, Clay, Foil, Wool, Beads, Dye, Watercolour, Stencils, Electronics Gadgets, Wire, Light, Paper, Felt & much more!",
              ]}
            />
          </div>
        </Step>
      </div>
    </section>
    <section class="my-12 flex flex-col gap-8 md:my-24 md:flex-row">
      <div class="flex-1 rounded-2xl shadow-md">
        <Image
          class="h-80 rounded-t-2xl object-cover"
          src={clay}
          alt="A girl laughing and moulding her experiment"
        />
        <div class="rounded-b-2xl bg-white p-8">
          <p class="mb-4 font-lilita text-3xl text-[#F14CA2]">
            Making is important
          </p>
          <StarBulletPoints
            content={[
              "We are passionate about hands-on creativity",
              "We believe that learning thrives when kids are engaged and making for themselves in supportive and creative environments",
              "The program offers a wide range of projects catering to every child’s interest",
            ]}
          />
        </div>
      </div>
      <div class="flex-1 rounded-2xl shadow-md">
        <Image
          class="h-80 rounded-t-2xl object-cover"
          src={staff}
          alt="A Fizz Kidz staff holding an experiment"
        />
        <div class="rounded-b-2xl bg-white p-8">
          <p class="mb-4 font-lilita text-3xl text-[#8BC34B]">
            Fizz Kidz Accreditation
          </p>
          <StarBulletPoints
            content={[
              "The Program is designed and written by primary school art and innovation specialists, aligned with the Victorian Primary school curriculum and facilitated by the same teacher each week, who are passionate about artistry and innovation!",
            ]}
          />
        </div>
      </div>
    </section>
    <FreeTrial />
  </main>
</Layout>
