---
import PageIntro from "@/components/page-intro.astro";
import { BreadcrumbWrapper } from "@/components/react/breadcrumb-wrapper";
import Layout from "@/layout/Layout.astro";
import balwyn from "@/assets/images/pages/locations/balwyn.jpg";
import birthday from "@/assets/images/pages/locations/kingsville/birthday.jpg";
import holidayPrograms from "@/assets/images/pages/locations/kingsville/holiday-programs.jpg";
import contact from "@/assets/images/pages/locations/kingsville/contact.jpg";
import slime from "@/assets/images/pages/locations/kingsville/slime.jpg";
import { getImage, Image } from "astro:assets";
import CardWithImage from "@/components/card-with-image.astro";
import ImageCarousel from "@/components/react/image-carousel";
import Reviews from "@/components/reviews.astro";
import blueWave from "@/assets/images/pages/locations/blue-wave.svg";
import Values from "@/components/values.astro";
import FaqAccordion from "@/components/react/faq-accordion";
import faq from "@/assets/images/pages/parties/faq.png";

import carousel1Image from "@/assets/images/pages/locations/balwyn/balwyn1.jpg";
import carousel2Image from "@/assets/images/pages/locations/balwyn/balwyn2.jpg";
import carousel3Image from "@/assets/images/pages/locations/balwyn/balwyn3.jpg";
import carousel4Image from "@/assets/images/pages/locations/balwyn/balwyn4.jpg";
import carousel5Image from "@/assets/images/pages/locations/balwyn/balwyn5.jpg";

const carousel1 = await getImage({ src: carousel1Image, format: "webp" });
const carousel2 = await getImage({ src: carousel2Image, format: "webp" });
const carousel3 = await getImage({ src: carousel3Image, format: "webp" });
const carousel4 = await getImage({ src: carousel4Image, format: "webp" });
const carousel5 = await getImage({ src: carousel5Image, format: "webp" });
---

<Layout
  title="Balwyn | Fizz Kidz"
  description="Balwyn birthday parties, holiday programs, toddler programs and more!"
>
  <div class="m-auto block max-w-[1380px] px-5 pt-4">
    <BreadcrumbWrapper
      client:idle
      items={[
        {
          type: "link",
          title: "Locations",
          path: "/locations",
        },
        {
          type: "dropdown",
          title: "Balwyn",
          items: [
            {
              type: "link",
              path: "/locations/balwyn",
              title: "Balwyn",
            },
            {
              type: "link",
              path: "/locations/cheltenham",
              title: "Cheltenham",
            },
            {
              type: "link",
              path: "/locations/essendon",
              title: "Essendon",
            },
            {
              type: "link",
              path: "/locations/kingsville",
              title: "Kingsville",
            },
            {
              type: "link",
              path: "/locations/malvern",
              title: "Malvern",
            },
          ],
        },
      ]}
    />
    <PageIntro
      image={balwyn}
      imageAlt="A picture of the balwyn studio"
      subtitle="The Ultimate Kids' Destination of Fun"
      color="purple"
      actionButtonPath="/contact-us"
      actionButtonText="Get in touch"
    >
      <span slot="title">Fizz Kidz Balwyn Studio</span>
      <span slot="content"
        >Bursting with colour, excitement, and laughter, Fizz Kidz Balwyn
        creates unforgettable experiences for every child who walks through our
        doors!
      </span>
    </PageIntro>
    <p class="mt-36 text-center font-lilita text-5xl">
      Creativity & fun in the heart of Balwyn!
    </p>
    <section
      class="my-12 flex flex-col-reverse gap-8 md:pb-12 md:pt-16 lg:flex-row"
    >
      <div class="px-0 sm:px-12 lg:w-1/2">
        <Image
          class="rounded-2xl object-contain shadow-green-sm sm:shadow-green-md"
          src={slime}
          alt="Two Fizz Kids staff standing under an archway"
        />
      </div>
      <div class="flex flex-col justify-center lg:w-1/2">
        <p class="font-bold">Fizz Kidz Balwyn Studio</p>
        <p>184 Whitehorse Rd, Balwyn 3103</p>
        <p class="mt-4 font-bold">Phone</p>
        <p><a href="tel:0390598144">(03) 9059 8144</a></p>
        <p class="mt-4 font-bold">Email</p>
        <p>
          <a href="mailto:bookings@fizzkidz.com.au">bookings@fizzkidz.com.au</a>
        </p>
        <p class="mt-4 font-bold">About Fizz Kidz Balwyn</p>
        <p>
          Known and loved by the community!
          <ul class="mb-4 list-disc pl-4">
            <li>Located conveniently across the road from Balwyn Cinema</li>
            <li>Accommodate up to 30 children at birthday parties</li>
            <li>
              Cafe for parents:
              <ul class="mb-4 list-[circle] pl-6">
                <li>
                  East and Co is a bright and big cafe that is conveniently
                  located right next door! Feel free to grab coffees, or arrange
                  a tab for parents.
                </li>
              </ul>
            </li>
          </ul>
        </p>
      </div>
    </section>
    <section class="mb-12 md:mb-20">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.051758182597!2d145.07287467758954!3d-37.81225663395491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad641eca57d8945%3A0x55299dc4331b6be6!2sFizz%20Kidz!5e0!3m2!1sen!2sau!4v1742120708039!5m2!1sen!2sau"
        width="100%"
        height="450"
        style="border:0;border-radius:12px"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section class="grid grid-cols-1 gap-8 md:grid-cols-3">
      <a href="/birthday-parties">
        <CardWithImage
          className="group h-full w-full cursor-pointer"
          image={birthday}
          imageAlt="Kids holding slime"
        >
          <div
            slot="content"
            class="p-8 group-hover:cursor-pointer group-hover:bg-gray-50"
          >
            <p class="mb-4 font-lilita text-2xl text-[#9044E2]">
              Birthday Parties
            </p>
            <p class="font-gotham text-lg">
              Host a memorable, action-packed birthday at Fizz Kidz Balwyn,
              where kids make and take home their very own awesome creations!
            </p>
          </div>
        </CardWithImage>
      </a>
      <a href="/holiday-programs">
        <CardWithImage
          className="group h-full w-full cursor-pointer"
          image={holidayPrograms}
          imageAlt="Kids holding slime"
        >
          <div slot="content" class="p-8 group-hover:bg-gray-50">
            <p class="mb-4 font-lilita text-2xl text-[#9044E2]">
              Holiday Programs
            </p>
            <p class="font-gotham text-lg">
              Keep your kids engaged and having fun during the holidays at Fizz
              Kidz Balwyn! Come and enjoy exciting new hands-on activities that
              spark your kids imagination!
            </p>
          </div>
        </CardWithImage>
      </a>
      <a href="/contact-us">
        <CardWithImage
          className="group h-full w-full cursor-pointer"
          image={contact}
          imageAlt="Kids holding slime"
        >
          <div slot="content" class="p-8 group-hover:bg-gray-50">
            <p class="mb-4 font-lilita text-2xl text-[#9044E2]">Contact Us</p>
            <p class="font-gotham text-lg">
              Have questions or would like to chat? Get in touch with our Balwyn
              team, we would love to help!
            </p>
          </div>
        </CardWithImage>
      </a>
    </section>
    <section class="mt-24">
      <p class="text-center font-lilita text-3xl">Balwyn Studio Gallery</p>
      <ImageCarousel
        client:idle
        loop
        images={[
          { image: carousel1, alt: "Alt" },
          { image: carousel4, alt: "Alt" },
          { image: carousel2, alt: "Alt" },
          { image: carousel3, alt: "Alt" },
          { image: carousel5, alt: "Alt" },
        ]}
      />
    </section>
    <section>
      <Reviews
        title="Hear what our parents have to say!"
        reviews={[
          {
            review:
              "My daughter had the most amazing 6th birthday party today at Fizz Kids, Balwyn. Bronwyn + Angie were both so great with the kids & kept them entertained for the full 1.5 hours. Bronwyn was also absolutely amazing with our requests around allergies & I can’t thank-you enough for this! We felt so relaxed & at ease knowing Bronwyn had it all under control. Would definitely recommend Fizz Kids Balwyn for kids parties! 10/10 (My only constructive feedback would be to have a cake-stand available for parties to use or to pop it in the email to say you’ll need to bring your own).",
            writtenBy: "Tegan",
            writtenYear: "March 2025",
          },
          {
            review:
              "Fizz Kids make organising a party a dream. They are flexible in the lead up and the hosts were amazing on the day. Angie, Harry and Lauren kept 26(!) kids entertained making tie dye socks and spiderman slime and were energetic and adaptable to their needs. A huge thanks from us!",
            writtenBy: "Lucy",
            writtenYear: "March 2025",
          },
          {
            review:
              "We are so lucky to have my son's birthday part in fizz kids! Harry and Lesi are so enthusiasm, energetic. They make the party so fun! I do recommend here for all my friends.",
            writtenBy: "Fiona",
            writtenYear: "December 2024",
          },
          {
            review:
              "My daughter had the best time. We booked a 2 hour party and the kids made slime and some bath bombs. They had the best time. The staff were so warm and welcoming and accommodating. It was truly a very special experience.",
            writtenBy: "Dilini",
            writtenYear: "November 2024",
          },
        ]}
      />
    </section>
  </div>
  <Image
    src={blueWave}
    alt="blue background wave"
    class="left-0 right-0 w-screen"
  />
  <div class="bg-[#43D4F3]">
    <div class="m-auto block max-w-[1380px] px-5 pt-4">
      <p class="h2 text-lg font-bold">
        THE ULTIMATE KIDS PARTY AND HOLIDAY PROGRAM VENUE IN BALWYN, MELBOURNE
        VIC
      </p>
      <p class="h2 mt-2">
        Welcome to Fizz Kidz - Balwyn's Most Creative Kids Party & Activity
        Venue
      </p>
      <p class="mt-2">
        Located in the heart of <strong>Balwyn, Melbourne VIC</strong>, Fizz
        Kidz is the go-to destination for
        <strong
          >fun, hands-on kids' parties and exciting school holiday programs.
        </strong> Our bright and energetic studio is designed to <strong
          >spark creativity and deliver unforgettable experiences,</strong
        > making every visit full of <strong>
          laughter, learning, and interactive fun.
        </strong>
      </p>
      <p class="h2 mt-4 text-lg font-bold">
        Unforgettable Kids' Birthday Parties at Fizz Kidz Balwyn
      </p>
      <p>
        Looking for the <strong>best kids' party venue in Balwyn?</strong> Fizz Kidz
        specializes in <strong>creative birthday parties</strong>, where kids
        can <strong
          >make slime, mix bath bombs, design tie-dye creations, and more!</strong
        > Our <strong>high-energy party hosts</strong> ensure a seamless and engaging
        experience, with plenty of fun activities, party games, and take-home creations
        for every child.
      </p>
      <p class="h2 mt-4 text-lg font-bold">
        Your Go-To School Holiday Program in Balwyn
      </p>
      <p>
        Fizz Kidz <strong>holiday programs</strong> keep kids entertained with hands-on,
        themed activities like <strong
          >science experiments, arts and crafts, and sensory</strong
        > play. Perfect for keeping kids engaged, inspired, and having fun during
        the school break!
      </p>
      <p class="h2 mt-4 text-lg font-bold">
        A Fun-Filled Venue for Kids' Activities in Balwyn
      </p>
      <p>
        Beyond birthday parties and holiday programs, our Balwyn studio is the
        perfect place for <strong
          >kids' workshops, incursions, and special events.</strong
        >
        Whether you're looking for a <strong
          >stress-free party experience</strong
        > or a creative activity to keep little hands busy, Fizz Kidz has something
        for everyone.
      </p><p class="h2 mt-4 text-lg font-bold">
        Join the Fun at Fizz Kidz Balwyn!
      </p>
      <p>
        We invite you to <strong>discover the magic of Fizz Kidz</strong> — where
        kids can explore, create, and celebrate in a vibrant, hands-on environment.
        Whether you're planning a <strong
          >birthday party, school holiday activity, or special event,</strong
        >
        we're here to make it <strong
          >exciting, fun, and completely hassle-free.</strong
        >
      </p>
      <p class="h2 mt-4 text-lg font-bold">Contact Us</p>
      <p>
        Visit <strong>Fizz Kidz Balwyn, Melbourne VIC,</strong> or get in touch to
        book your next <strong>party, workshop, or holiday program.</strong> Let's
        create something amazing together!
      </p>
    </div>
  </div>
  <Image
    src={blueWave}
    alt="blue background wave"
    class="left-0 right-0 w-screen rotate-180"
  />
  <div class="m-auto block max-w-[1380px] px-5 pt-4">
    <section class="md:my-18 my-12">
      <h6 class="mb-4 text-center font-lilita text-4xl md:text-5xl">
        Frequently Asked Questions
      </h6>
      <div class="flex w-full flex-col items-center gap-8 md:flex-row">
        <Image
          class="hidden w-2/5 md:block"
          src={faq}
          alt="Three girls smiling"
        />
        <div class="w-full md:w-3/5">
          <FaqAccordion
            client:idle
            items={[
              {
                question:
                  "How many children can Fizz Kidz accommodate for parties?",
                answer:
                  "We accommodate up to 28 children, with a total venue capacity of 35 people.",
              },
              {
                question: "Do parents stay for holiday programs?",
                answer:
                  "Our holiday programs are designed as a drop-off experience. However, if a child feels more comfortable with a parent staying, they are welcome to do so.",
              },
              {
                question: "Does Fizz Kidz accept the Child Care Subsidy (CCS)?",
                answer:
                  "Unfortunately, no. Fizz Kidz operates as an entertainment center, which does not fall under the Child Care Subsidy.",
              },
              {
                question: "Where are your Fizz Kidz locations?",
                answer:
                  "Fizz Kidz has multiple studio locations! Check out our website or contact us to find your nearest venue. ",
              },
              {
                question:
                  "How do I find more information about your Fizz Kidz birthday parties?",
                answer:
                  "We have lots of party themes for you to choose from! Click here to explore! ",
              },
            ]}
          />
        </div>
      </div>
    </section>
    <Values />
  </div>
</Layout>
