---
import Layout from "@/layout/Layout.astro";
import whiteSlime from "@/assets/images/pages/franchising/white-slime.svg";
import { Image } from "astro:assets";
import { BreadcrumbWrapper } from "@/components/react/breadcrumb-wrapper";
import { Button } from "@/components/react/ui/button";
import { menu } from "@/components/react/navigation/navigation-menu";
import Container from "@/components/container.astro";

import staff from "@/assets/images/pages/franchising/staff.png";
import clouds from "@/assets/images/pages/franchising/clouds.png";
import { CelebrationDropDownCards } from "@/components/react/school-celebrations/celebration-drop-down-cards";
import purpleCurve from "@/assets/images/pages/franchising/purple-curve.png";

import creativeKinders from "@/assets/images/pages/play-lab/creative-kinders.jpg";
import check from "@/assets/images/pages/franchising/check.png";
import faq from "@/assets/images/pages/parties/faq.png";
import { getImage } from "astro:assets";
import { DropImage } from "@/components/react/drop-image";
import FaqAccordion from "@/components/react/faq-accordion";
import Values from "@/components/values.astro";
import SchoolCelebrationForm from "@/components/react/forms/school-celebration-form";

const creativeKindersOptimised = await getImage({
  src: creativeKinders,
  format: "webp",
});

const checkOptimised = await getImage({
  src: check,
  format: "webp",
});
const staffOptimised = await getImage({
  src: staff,
  format: "webp",
});
---

<style lang="css">
  /* Disable the header box shadow so the slime works */
  :global(header) {
    box-shadow: none !important;
  }
</style>

<Layout
  title="End of term and end of year schools celebrations"
  description="TODO"
>
  <div class="relative bg-[#45D3F3]">
    <Image
      class="absolute w-full"
      src={whiteSlime}
      alt=""
      loading="eager"
      width={80}
      aria-hidden="true"
    />
    <div class="m-auto flex max-w-[1400px] gap-12 px-8 py-16 md:py-48">
      <div class="flex w-full flex-col justify-center gap-4 lg:w-1/2">
        <BreadcrumbWrapper
          client:idle
          items={[
            { type: "not-link", title: "In Schools" },
            {
              type: "dropdown",
              title: "After School Programs",
              items: menu[3].items,
            },
          ]}
          variant="white"
        />
        <p
          class="font-lilita text-3xl uppercase text-white sm:text-5xl md:text-7xl"
        >
          <span>School</span><br />
          <span>Celebrations</span>
        </p>
        <p
          class="font-lilita text-lg uppercase text-white sm:text-xl md:text-3xl"
        >
          We bring the fun to your celebration!
        </p>
        <p class="font-gotham text-white">
          Weather its a small celebration or big, we believe all celebrations
          are important! We handle everything, from hands-on creations to games
          and dancing, making it a memorable celebration for your students. Get
          in touch for a quote and easy booking process.
        </p>
        <a href="#contact">
          <Button
            className="mt-8 w-fit bg-[#F6BA33] p-6 font-lilita text-lg uppercase tracking-wider hover:bg-[#8F44E1] sm:p-8 sm:text-xl"
            >Enquire Today</Button
          >
        </a>
      </div>
      <div class="hidden w-full items-center lg:flex lg:w-1/2">
        <DropImage
          image={{ image: staffOptimised, alt: "two staff smiling" }}
          color="blue"
          background="#45D3F3"
        />
      </div>
    </div>
    <Image src={clouds} alt="" class="absolute bottom-0" />
  </div>
  <Container>
    <p class="my-12 text-center font-lilita text-5xl uppercase md:text-7xl">
      Fizzing, <span class="text-[#F14EA1]">fantastic,</span> fun awaits!
    </p>
    <p class="mb-12 text-center font-gotham text-lg">
      Bring the fun to your next School Celebration with Fizz Kidz!
    </p>
    <CelebrationDropDownCards
      client:load
      images={[
        {
          card: { image: creativeKindersOptimised, alt: "alt" },
          expanded: { image: creativeKindersOptimised, alt: "alt" },
        },
      ]}
      check={checkOptimised}
    />
  </Container>
  <Image src={purpleCurve} alt="" />
  <div class="bg-[#8F44E1]">
    <Container>
      <p
        class="pt-4 text-center font-lilita text-5xl uppercase text-white md:mt-0 md:text-7xl"
      >
        How it <span class="text-[#FEA438]">works</span>
      </p>
      <div class="flex flex-col gap-6 py-10 md:flex-row">
        {
          [
            {
              title: "Choose a party length",
              content:
                "Fill in the form below and let us know about the event your planning",
              icon: "â°",
              color: "#4FE16D",
            },
            {
              title: "Choose your day, time & venue",
              content:
                "Chat to our friendly team who will customise and curate your exact celebration!",
              icon: "ðŸ’¬",
              color: "#FEA438",
            },
            {
              title: "Personalise",
              content:
                "Have Fizz Kidz wow your community and bring explosive FUN to your school event!",
              icon: "ðŸ“†",
              color: "#F24DA2",
            },
          ].map((it, idx) => (
            <div class="flex w-full flex-col gap-4 md:w-1/3">
              <div class="flex flex-grow flex-col rounded-xl bg-white p-2">
                <div
                  style={{ background: it.color }}
                  class="flex min-h-24 items-center justify-center rounded-t-xl md:min-h-32 min-[900px]:min-h-24"
                >
                  <p class="w-2/3 text-center font-lilita text-2xl uppercase text-white">
                    {it.title}
                  </p>
                </div>
                <div class="flex flex-grow flex-col items-center gap-8 py-8">
                  <p class="w-3/5 flex-grow text-center font-gotham text-xl font-bold">
                    {it.content}
                  </p>
                  <p class="text-4xl">{it.icon}</p>
                </div>
              </div>
              <div class="flex items-center gap-4">
                <div class="h-1 flex-grow border-t-2 border-dashed border-white" />
                <div
                  class="flex h-14 w-14 items-center justify-center rounded-full bg-white font-lilita text-3xl"
                  style={`color: ${it.color};`}
                >
                  {`${idx + 1}`.padStart(2, "0")}
                </div>
                <div class="h-1 flex-grow border-t-2 border-dashed border-white" />
              </div>
            </div>
          ))
        }
      </div>
    </Container>
  </div>
  <Image src={purpleCurve} alt="" class="-mt-1 rotate-180" />
  <Container class="my-8">
    <div class="flex w-full flex-col items-center gap-8 md:flex-row">
      <Image
        class="hidden w-2/5 md:block"
        src={faq}
        alt="Three girls smiling"
      />
      <div class="w-full md:w-3/5">
        <p class="mb-12 font-lilita text-5xl uppercase leading-[3.5rem]">
          Frequently Asked<br />
          <span class="text-[#F24DA2]">Questions</span>
        </p>
        <FaqAccordion
          client:idle
          items={[
            {
              question: "We need some questions here",
              answer: "Any they need some answers",
            },
          ]}
        />
      </div>
    </div>
  </Container>
  <div
    style={`background-image: url(${creativeKindersOptimised.src})`}
    class="relative bg-cover"
  >
    <Image src={clouds} alt="" class="absolute top-0 -mt-1 rotate-180" />
    <Container class="flex justify-center">
      <div
        class="flex max-w-3xl flex-col items-center justify-center gap-8 py-16 md:py-48"
      >
        <p class="text-center font-lilita text-5xl uppercase text-white">
          From big to small, we have you covered
        </p>
        <p class="text-center font-gotham text-lg text-white">
          Whether you're looking for a one-stop shop or have the infrastructure
          yourselves and need us to run amazing daily activities; we're experts
          in kids' entertainment and we will work with you to bring your vision
          to life.
        </p>
      </div>
    </Container>
  </div>
  <Container class="my-12 md:my-20">
    <p class="mb-6 text-center font-lilita text-3xl md:text-5xl">
      Contact us - we're friendly!
    </p>
    <p class="mb-6 text-center font-gotham text-lg">
      Please let us know what type of activation or event your looking to run
      and we will get back to you with all our details.
    </p>
    <SchoolCelebrationForm client:idle />
  </Container>
  <Values />
</Layout>
