---
import "@/styles/globals.css";
import Header from "@/layout/header.astro";
import Footer from "@/layout/footer.astro";
import { ClientRouter } from "astro:transitions";
import LoadingIndicator from "astro-loading-indicator/component";
// import { HolidayProgramDiscountDialog } from "@/components/react/holiday-program-discount-dialog";
// import { getImage } from "astro:assets";
// import discountImage from "@/assets/images/holiday-program-discount-dialog/discount-image.png";
// import frame from "@/assets/images/holiday-program-discount-dialog/frame.png";

type Props = {
  title: string;
  description: string;
  noIndex?: boolean;
};

const { title, description, noIndex = false } = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

// const discountImageOptimised = await getImage({
//   src: discountImage,
//   format: "webp",
// });
// const frameOptimised = await getImage({
//   src: frame,
//   format: "webp",
// });
---

<style is:global>
  .no-scroll {
    /* position: fixed;
    overflow-y: hidden; */
    display: none;
    width: 100%;
  }
</style>

<script is:inline>
  /**
   * This allows navigation directly to a hash route, where it will smoothly scroll after arriving on the page.
   */
  document.addEventListener("astro:page-load", () => {
    if (window.location.hash) {
      const target = document.querySelector(window.location.hash);
      if (target) {
        setTimeout(() => {
          target.scrollIntoView({ behavior: "smooth" });
        }, 100); // A slight delay to ensure the page has fully loaded
      }
    }
  });
</script>

<html lang="en" transition:animate="none" class="h-full">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-9T888DDK2Y"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-9T888DDK2Y");
    </script>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    {noIndex && <meta name="robots" content="noindex, nofollow" />}
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/open-graph/home.jpg" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/open-graph/home.jpg" />
    <meta name="twitter:image:alt" content="A child smiling" />
    <link rel="canonical" href={canonicalUrl} />

    <ClientRouter />
  </head>

  <LoadingIndicator color="#9044E2" height="3px" threshold={400} />
  <!-- <HolidayProgramDiscountDialog
    client:idle
    promotionalImage={{
      img: discountImageOptimised,
      alt: "promotion image of two kids laughing",
    }}
    frame={{ img: frameOptimised }}
  /> -->

  <body class="flex flex-col">
    <Header />
    <!-- <div
      class="flex flex-col items-center justify-center bg-[#FFDC5D] p-4 text-center font-lilita text-lg md:text-4xl lg:flex-row"
    >
      New Studio Opening in Kingsville - April 2025!&nbsp;
      <a
        href="/birthday-parties/book-a-party"
        class="text-blue-500 hover:underline">Book Today.</a
      >
    </div> -->
    <div id="main">
      <slot class="flex-1" />
    </div>
    <Footer />
  </body>
</html>
